﻿
@{
    ViewData["Title"] = "FormDefault";
}

<div class="card">
    <div class="card-header  header-elements-inline">
        <h5 class="card-title">Index</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form action="#">
            <fieldset class="mb-3">
                <input type="number" name="name" value="1" min="1" class="form-control" />
            </fieldset>
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Autocomplate</legend>
                <div class="form-group form-group-feedback form-group-feedback-left">
                    <label>Display autocomplate:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type 'A'" id="ac-basic">
                        <div class="form-control-feedback">
                            <i class="icon-search4 font-size-base"></i>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Basic Alert</legend>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="product-options">
                                <button id="btnDefault" class="btn btn-default">Alert Default</button>
                            </div>
                            <div class="alert bg-grey alert-styled-left alert-dismissible" id="default-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Default! </strong>
                                Product have added to your wishlist.
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="product-options">
                                <button id="btnPrimary" class="btn btn-primary">Alert Primary</button>
                            </div>
                            <div class="alert bg-primary alert-styled-left alert-dismissible" id="primary-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Primary! </strong>
                                Product have added to your wishlist.
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="product-options">
                                <button id="btnSuccess" class="btn btn-success">Alert Success</button>
                            </div>
                            <div class="alert bg-success alert-styled-left alert-dismissible" id="success-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Success! </strong>
                                Product have added to your wishlist.
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="product-options">
                                <button id="btnWarning" class="btn btn-warning">Alert Warning</button>
                            </div>
                            <div class="alert bg-warning alert-styled-left alert-dismissible" id="warning-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Warning! </strong>
                                Product have added to your wishlist.
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="product-options">
                                <a id="btnDanger" class="btn btn-danger text-white">Alert Danger</a>
                            </div>
                            <div class="alert bg-danger alert-styled-left alert-dismissible" id="danger-alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <strong>Danger! </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>

            </fieldset>
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">SweetAlert</legend>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Basic single date picker:</label>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                </span>
                                <input type="text" class="form-control daterange-single" value="03/18/2013">
                            </div>
                        </div>
                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Basic usage</h6>
                            <p>Basic text field specifies that the week begins with Monday.</p>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar3"></i></span>
                                </span>
                                <input type="text" class="form-control" id="anytime-date" value="Sunday, July 30th in the Year 1967 CE">
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Month and day</h6>
                            <p>Month and day only picker format</p>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar3"></i></span>
                                </span>
                                <input type="text" class="form-control" id="anytime-month-day" value="4th of June">
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Time picker</h6>
                            <p>Current example displays hours and minutes only. Seconds can be added via plugin <code>options</code>.</p>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-watch2"></i></span>
                                </span>
                                <input type="text" class="form-control" id="anytime-time" value="12:34">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Display time picker:</label>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                                </span>
                                <input type="text" class="form-control daterange-time" value="03/18/2013 - 03/23/2013">
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Custom display format</h6>
                            <p>Custom display format can be specified via plugin <code>options</code></p>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar3"></i></span>
                                </span>
                                <input type="text" class="form-control" id="anytime-weekday" value="Wednesday, 4th of June, 2014">
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Numeric date</h6>
                            <p>Current example demonstrates custom <code>DD/MM/YYYY</code> date format</p>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar3"></i></span>
                                </span>
                                <input type="text" class="form-control" id="anytime-month-numeric" value="04/06/2014">
                            </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Date range</h6>
                            <p>In the following example, <code>AnyTime.Converter</code> and jQuery work together to provide date-range selection. The value for the second ("Finish") field must be at least one day after the date in the first ("Start") field, but no more than 90 days later.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><input type="text" class="form-control" id="rangeDemoStart" placeholder="Start date"></p>
                                </div>

                                <div class="col-md-6">
                                    <p><input type="text" class="form-control" id="rangeDemoFinish" placeholder="Finish date" disabled></p>
                                </div>
                            </div>

                            <input type="button" id="rangeDemoToday" class="btn btn-primary" value="today">
                            <input type="button" id="rangeDemoClear" class="btn btn-light" value="clear">
                        </div>
                    </div>
                </div>


            </fieldset>
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">SweetAlert</legend>
                <table class="table">
                    <tbody>
                        <tr class="table-border-double table-active">
                            <th colspan="3">Notification types</th>
                        </tr>
                        <tr>
                            <td>Success type</td>
                            <td><button type="button" class="btn btn-light" id="sweet_success">Launch <i class="icon-play3 ml-2"></i></button></td>
                            <td>Success notification type using <code>type: success</code> option</td>
                        </tr>
                        <tr>
                            <td>Error type</td>
                            <td><button type="button" class="btn btn-light" id="sweet_error">Launch <i class="icon-play3 ml-2"></i></button></td>
                            <td>Error notification type using <code>type: error</code> option</td>
                        </tr>
                        <tr>
                            <td>Warning type</td>
                            <td><button type="button" class="btn btn-light" id="sweet_warning">Launch <i class="icon-play3 ml-2"></i></button></td>
                            <td>Warning notification type using <code>type: warning</code> option</td>
                        </tr>
                        <tr>
                            <td>Info type</td>
                            <td><button type="button" class="btn btn-light" id="sweet_info">Launch <i class="icon-play3 ml-2"></i></button></td>
                            <td>Info notification type using <code>type: info</code> option</td>
                        </tr>
                        <tr>
                            <td>Question type</td>
                            <td><button type="button" class="btn btn-light" id="sweet_question">Launch <i class="icon-play3 ml-2"></i></button></td>
                            <td>Question notification type using <code>type: question</code> option</td>
                        </tr>
                        <tr>
                            <td>Combine messages</td>
                            <td><button type="button" class="btn btn-light" id="sweet_combine">Launch <i class="icon-play3 ml-2"></i></button></td>
                            <td>Message with a function attached to the "Confirm" and "Cancel" buttons</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Toast</legend>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Primary notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-primary" id="pnotify-solid-primary">Launch <i class="icon-play3 ml-2"></i></button>
                        Primary notice. To use, add <code>.bg-primary</code> color class to the plugin configuration options
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Danger notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-danger" id="pnotify-solid-danger">Launch <i class="icon-play3 ml-2"></i></button>
                        Danger notice. To use, add <code>.bg-danger</code> color class to the plugin configuration options
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Success notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-success" id="pnotify-solid-success">Launch <i class="icon-play3 ml-2"></i></button>
                        Success notice. To use, add <code>.bg-success</code> color class to the plugin configuration options
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Warning notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-warning" id="pnotify-solid-warning">Launch <i class="icon-play3 ml-2"></i></button>
                        Warning notice. To use, add <code>.bg-warning</code> color class to the plugin configuration options
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Info notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-info" id="pnotify-solid-info">Launch <i class="icon-play3 ml-2"></i></button>
                        Info notice. To use, add <code>.bg-info</code> color class to the plugin configuration options
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2"></label>
                    <div class="col-lg-10">

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Default notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-warning" id="pnotify-default">Launch <i class="icon-play3 ml-2"></i></button>
                        Basic pnotify notification. All notification color styles correspond to the Boostrap's <code>alert</code> component
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Success notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-success" id="pnotify-success">Launch <i class="icon-play3 ml-2"></i></button>
                        Success notice. To use, add <code>type: 'success'</code> to the plugin configuration
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Danger notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-danger" id="pnotify-danger">Launch <i class="icon-play3 ml-2"></i></button>
                        Danger notice. To use, add <code>type: 'error'</code> to the plugin configuration
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Info notice</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-primary" id="pnotify-info">Launch <i class="icon-play3 ml-2"></i></button>
                        Info notice. To use, add <code>type: 'info'</code> to the plugin configuration
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Left positioned icon</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-light" id="pnotify-styled-left">Launch <i class="icon-play3 ml-2"></i></button>
                        Notification with left positioned icon. To use, add <code>'alert-styled-left'</code> to the <code>addclass: '...'</code> option
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Right positioned icon</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-light" id="pnotify-styled-right">Launch <i class="icon-play3 ml-2"></i></button>
                        Notification with right positioned icon. To use, add <code>'alert-styled-right'</code> to the <code>addclass: '...'</code> option
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Display arrow</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-light" id="pnotify-styled-arrow">Launch <i class="icon-play3 ml-2"></i></button>
                        Display arrow in styled notifications. To use, add <code>'alert-arrow-left'</code> or <code>'*-right'</code> to the <code>addclass: '...'</code> option
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Notice with custom color</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-light" id="pnotify-custom-styled">Launch <i class="icon-play3 ml-2"></i></button>
                        Notification with custom background/border/text color. Text, background and border color can be changed by adding proper classes to the plugin configuration
                    </div>
                </div>

            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Modal</legend>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Basic Modal</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_default">Launch <i class="icon-play3 ml-2"></i></button>
                    </div>

                    <!-- Basic modal -->
                    <div id="modal_default" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Basic modal</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <h6 class="font-weight-semibold">Text in a modal</h6>
                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                    <hr>

                                    <h6 class="font-weight-semibold">Another paragraph</h6>
                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /basic modal -->
                </div>

                @*default*@
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Disable backdrop</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_backdrop">Launch <i class="icon-play3 ml-2"></i></button>
                    </div>

                    <!-- Disabled backdrop -->
                    <div id="modal_backdrop" class="modal fade" data-backdrop="static" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Basic modal</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <h6 class="font-weight-semibold">Text in a modal</h6>
                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                    <hr>

                                    <h6 class="font-weight-semibold">Another paragraph</h6>
                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /disabled backdrop -->
                </div>

                @*bg-primary*@
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Modal Primary</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn bg-primary" data-toggle="modal" data-target="#modal_theme_primary">Primary <i class="icon-play3 ml-2"></i></button>
                    </div>

                    <div id="modal_theme_primary" class="modal fade" data-backdrop="static" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h6 class="modal-title text-white">Primary header</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <h6 class="font-weight-semibold">Text in a modal</h6>
                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                    <hr>

                                    <h6 class="font-weight-semibold">Another paragraph</h6>
                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*danger*@
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Modal Danger</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn bg-danger" data-toggle="modal" data-target="#modal_theme_danger">Launch <i class="icon-play3 ml-2"></i></button>
                    </div>

                    <!-- Danger modal -->
                    <div id="modal_theme_danger" class="modal fade" data-backdrop="static" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h6 class="modal-title  text-white">Danger header</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <h6 class="font-weight-semibold">Text in a modal</h6>
                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                    <hr>

                                    <h6 class="font-weight-semibold">Another paragraph</h6>
                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-danger">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /default modal -->
                </div>

                @*success*@
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Disable backdrop</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn bg-success" data-toggle="modal" data-target="#modal_theme_success">Launch <i class="icon-play3 ml-2"></i></button>
                    </div>

                    <!-- Success modal -->
                    <div id="modal_theme_success" class="modal fade" data-backdrop="static" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-success">
                                    <h6 class="modal-title  text-white">Success header</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <h6 class="font-weight-semibold">Text in a modal</h6>
                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                    <hr>

                                    <h6 class="font-weight-semibold">Another paragraph</h6>
                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-success">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /success modal -->
                </div>

                @*warning*@
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Modal Warning</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn bg-warning" data-toggle="modal" data-target="#modal_theme_warning">Launch <i class="icon-play3 ml-2"></i></button>
                    </div>

                    <!-- Warning modal -->
                    <div id="modal_theme_warning" class="modal fade" data-backdrop="static" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-warning">
                                    <h6 class="modal-title text-white">Warning header</h6>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <h6 class="font-weight-semibold">Text in a modal</h6>
                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                    <hr>

                                    <h6 class="font-weight-semibold">Another paragraph</h6>
                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn bg-warning">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /warning modal -->
                </div>

                <legend class="text-uppercase font-size-sm font-weight-bold">Modal using bootbox</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Alert dialog</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn bg-primary" id="alert">Launch <i class="icon-play3 ml-2"></i></button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Confirm dialog</label>
                    <div class="col-lg-10">
                        <button type="button" class="btn bg-primary" id="confirm">Launch <i class="icon-play3 ml-2"></i></button>
                    </div>
                </div>


            </fieldset>
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Basic inputs</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Default text input</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Input with placeholder</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Enter your username...">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Read only field</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" readonly value="read only">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Disabled field</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" disabled value="disabled">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Maximum value</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" maxlength="4" placeholder="Maximum 4 characters">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2 cursor-pointer" for="clickable-label">Focus on label click</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="clickable-label" placeholder="Field focus on label click">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Textarea</label>
                    <div class="col-lg-10">
                        <textarea rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Basic selects</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Single select</label>
                    <div class="col-lg-10">
                        <select class="form-control">
                            <option value="opt1">Default select box</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3">Option 3</option>
                            <option value="opt4">Option 4</option>
                            <option value="opt5">Option 5</option>
                            <option value="opt6">Option 6</option>
                            <option value="opt7">Option 7</option>
                            <option value="opt8">Option 8</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Custom BS select</label>
                    <div class="col-lg-10">
                        <select class="custom-select">
                            <option value="opt1">Styled select box</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3">Option 3</option>
                            <option value="opt4">Option 4</option>
                            <option value="opt5">Option 5</option>
                            <option value="opt6">Option 6</option>
                            <option value="opt7">Option 7</option>
                            <option value="opt8">Option 8</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Multiple select</label>
                    <div class="col-lg-10">
                        <select multiple="multiple" class="form-control">
                            <option selected>Amsterdam</option>
                            <option selected>Atlanta</option>
                            <option>Baltimore</option>
                            <option>Boston</option>
                            <option>Buenos Aires</option>
                            <option>Calgary</option>
                            <option selected>Chicago</option>
                            <option>Denver</option>
                            <option>Dubai</option>
                            <option>Frankfurt</option>
                            <option>Hong Kong</option>
                            <option>Honolulu</option>
                            <option>Houston</option>
                            <option>Kuala Lumpur</option>
                            <option>London</option>
                            <option>Los Angeles</option>
                            <option>Melbourne</option>
                            <option>Mexico City</option>
                            <option>Miami</option>
                            <option>Minneapolis</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Select with search</label>
                    <div class="col-lg-10">
                        <select class="form-control select-search" data-fouc>
                            <optgroup label="Mountain Time Zone">
                                <option value="AZ">Arizona</option>
                                <option value="CO">Colorado</option>
                                <option value="ID">Idaho</option>
                                <option value="WY">Wyoming</option>
                            </optgroup>
                            <optgroup label="Central Time Zone">
                                <option value="AL">Alabama</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Basic file inputs</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Default file input</label>
                    <div class="col-lg-10">
                        <input type="file" class="form-control-plaintext">
                    </div>
                </div>

                @*<div class="form-group row">
                        <label class="col-form-label col-lg-2">Styled file input</label>
                        <div class="col-lg-10">
                            <input type="file" class="form-control-uniform" data-fouc>
                        </div>
                    </div>*@

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Custom BS file input</label>
                    <div class="col-lg-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Form helpers</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Text form helpers</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <span class="form-text text-muted">Left aligned helper</span>
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <span class="form-text text-muted text-center">Centered helper</span>
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <span class="form-text text-muted text-right">Right aligned helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Full width badge helpers</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <span class="badge d-block badge-primary form-text text-left">Left aligned badge</span>
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <span class="badge d-block badge-danger form-text">Centered badge</span>
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <span class="badge d-block badge-info form-text text-right">Right aligned badge</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Block badge helpers</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <div class="d-block form-text">
                                    <span class="badge badge-primary">Left aligned badge</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <div class="d-block form-text text-center">
                                    <span class="badge badge-danger">Centered badge</span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control">
                                <div class="d-block form-text text-right">
                                    <span class="badge badge-info text-right">Right aligned badge</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline text helper</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="text-muted">Inline text helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline text helper alert danger</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-danger">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="text-danger font-weight-semibold">Inline text helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline text helper alert info</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-info">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="text-primary font-weight-semibold">Inline text helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline text helper alert warning</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-warning">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="text-warning font-weight-semibold">Inline text helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline text helper alert success</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-success">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="text-success font-weight-semibold">Inline text helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline badge helper</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="badge bg-teal">Inline badge helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline badge helper danger</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-danger">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="badge bg-danger">Inline badge helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline badge helper warning</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-warning">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="badge bg-warning">Inline badge helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline badge helper info</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-info">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="badge bg-info">Inline badge helper</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inline badge helper success</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control border-success">
                            </div>
                            <div class="col-lg-6 mt-1 mt-lg-0 align-self-center">
                                <span class="badge bg-success">Inline badge helper</span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Input icons</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Input with icons</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control form-control-lg" placeholder="Left icon, input large">
                                    <div class="form-control-feedback form-control-feedback-lg">
                                        <i class="icon-make-group"></i>
                                    </div>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control" placeholder="Left icon, input default">
                                    <div class="form-control-feedback">
                                        <i class="icon-droplets"></i>
                                    </div>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control form-control-sm" placeholder="Left icon, input small">
                                    <div class="form-control-feedback form-control-feedback-sm">
                                        <i class="icon-pin-alt"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <input type="text" class="form-control form-control-lg" placeholder="Right icon, input large">
                                    <div class="form-control-feedback form-control-feedback-lg">
                                        <i class="icon-make-group"></i>
                                    </div>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <input type="text" class="form-control" placeholder="Right icon, input default">
                                    <div class="form-control-feedback">
                                        <i class="icon-droplets"></i>
                                    </div>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <input type="text" class="form-control form-control-sm" placeholder="Right icon, input small">
                                    <div class="form-control-feedback form-control-feedback-sm">
                                        <i class="icon-pin-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Input with spinners</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-feedback form-group-feedback-left">
                                    <input type="text" class="form-control" placeholder="Left spinner">
                                    <div class="form-control-feedback">
                                        <i class="icon-spinner2 spinner"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <input type="text" class="form-control" placeholder="Right spinner">
                                    <div class="form-control-feedback">
                                        <i class="icon-spinner2 spinner"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Validation states</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2 font-weight-semibold text-success">Valid state</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control border-success" placeholder="Valid state">
                        <span class="form-text text-success">Valid state helper</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2 font-weight-semibold text-success">Valid state with icon</label>
                    <div class="col-lg-10">
                        <div class="form-group-feedback form-group-feedback-right">
                            <input type="text" class="form-control border-success" placeholder="Valid state">
                            <div class="form-control-feedback text-success">
                                <i class="icon-checkmark-circle"></i>
                            </div>
                        </div>
                        <span class="form-text text-success">Valid state helper</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2 font-weight-semibold text-danger">Invalid state</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control border-danger" placeholder="Invalid state">
                        <span class="form-text text-danger">Invalid state helper</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2 font-weight-semibold text-danger">Invalid state with icon</label>
                    <div class="col-lg-10">
                        <div class="form-group-feedback form-group-feedback-right">
                            <input type="text" class="form-control border-danger" placeholder="Invalid state">
                            <div class="form-control-feedback text-danger">
                                <i class="icon-cancel-circle2"></i>
                            </div>
                        </div>
                        <span class="form-text text-danger">Invalid state helper</span>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Text options</legend>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Light text</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control font-weight-light" placeholder="Input with light text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Semibold text</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control font-weight-semibold" placeholder="Input with semibold text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Bold text</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control font-weight-bold" placeholder="Input with bold text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Capitalized text</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control text-capitalize" placeholder="Input with capitalized text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Centered text</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control text-center" placeholder="Input with centered text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Right aligned text</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control text-right" placeholder="Input with right aligned text">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Uppercase text</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control text-uppercase" placeholder="Input with uppercase text">
                        <span class="form-text text-muted">Other text options work as well</span>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Field options</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Tooltip on focus</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" data-popup="tooltip" data-trigger="focus" title="Tooltip on focus" placeholder="Click on input">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Tooltip on hover</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" data-popup="tooltip" title="Tooltip on hover" placeholder="Hover on input">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Fixed input sizing</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder=".col-3">
                            </div>

                            <div class="col-4">
                                <input type="text" class="form-control" placeholder=".col-4">
                            </div>

                            <div class="col-5">
                                <input type="text" class="form-control" placeholder=".col-5">
                            </div>
                        </div>
                        <span class="form-text text-muted">Available in 12 columns sizes since it's based on 12 columns grid</span>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Sizing options</legend>

                <div class="form-group row">
                    <label class="col-form-label col-form-label-lg col-lg-2">Large size</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control form-control-lg" placeholder=".col-form-label-lg .form-control-lg">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Default size</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder=".col-form-label .form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-form-label-sm col-lg-2">Small size</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control form-control-sm" placeholder=".col-form-label-sm .form-control-sm">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Inputs only</label>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control form-control-lg" type="text" placeholder="Large input height">
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Default input height">
                                </div>

                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="text" placeholder="Small input height">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control form-control-lg">
                                        <option value="opt1">Large select height</option>
                                        <option value="opt2">Option 2</option>
                                        <option value="opt3">Option 3</option>
                                        <option value="opt4">Option 4</option>
                                        <option value="opt5">Option 5</option>
                                        <option value="opt6">Option 6</option>
                                        <option value="opt7">Option 7</option>
                                        <option value="opt8">Option 8</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="opt1">Default select height</option>
                                        <option value="opt2">Option 2</option>
                                        <option value="opt3">Option 3</option>
                                        <option value="opt4">Option 4</option>
                                        <option value="opt5">Option 5</option>
                                        <option value="opt6">Option 6</option>
                                        <option value="opt7">Option 7</option>
                                        <option value="opt8">Option 8</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select class="form-control form-control-sm">
                                        <option value="opt1">Small select height</option>
                                        <option value="opt2">Option 2</option>
                                        <option value="opt3">Option 3</option>
                                        <option value="opt4">Option 4</option>
                                        <option value="opt5">Option 5</option>
                                        <option value="opt6">Option 6</option>
                                        <option value="opt7">Option 7</option>
                                        <option value="opt8">Option 8</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Color options</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Text color</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control text-violet" value="Custom text color">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Border color</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control border-teal" placeholder="Custom border color">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">File input color</label>
                    <div class="col-lg-10">
                        <input type="file" class="form-control-uniform-custom">
                    </div>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Type options</legend>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Datetime</label>
                    <div class="col-md-10">
                        <input class="form-control" type="datetime-local" name="datetime-local">
                        <span class="form-text text-muted">Using <code>input type="datetime-local"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Date</label>
                    <div class="col-md-10">
                        <input class="form-control" type="date" name="date">
                        <span class="form-text text-muted">Using <code>input type="date"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Month</label>
                    <div class="col-md-10">
                        <input class="form-control" type="month" name="month">
                        <span class="form-text text-muted">Using <code>input type="month"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Time</label>
                    <div class="col-md-10">
                        <input class="form-control" type="time" name="time">
                        <span class="form-text text-muted">Using <code>input type="time"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Week</label>
                    <div class="col-md-10">
                        <input class="form-control" type="week" name="week">
                        <span class="form-text text-muted">Using <code>input type="week"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Number</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" name="number">
                        <span class="form-text text-muted">Using <code>input type="number"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email">
                        <span class="form-text text-muted">Using <code>input type="email"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">URL</label>
                    <div class="col-md-10">
                        <input class="form-control" type="url" name="url">
                        <span class="form-text text-muted">Using <code>input type="url"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Search</label>
                    <div class="col-md-10">
                        <input class="form-control" type="search" name="search">
                        <span class="form-text text-muted">Using <code>input type="search"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Tel</label>
                    <div class="col-md-10">
                        <input class="form-control" type="tel" name="tel">
                        <span class="form-text text-muted">Using <code>input type="tel"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Color</label>
                    <div class="col-md-10">
                        <input class="form-control" type="color" name="color">
                        <span class="form-text text-muted">Using <code>input type="color"</code></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-md-2">Range</label>
                    <div class="col-md-10">
                        <input class="form-control" type="range" name="range" min="0" max="10">
                        <span class="form-text text-muted">Using <code>input type="range"</code></span>
                    </div>
                </div>
            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
    <div class="card-footer"></div>
</div>