[data-bgcolor="bg-basecolor"] {
  background-color: #DC143C; }

[data-bgcolor="bg-basecolor-white"] {
  background-color: #DC143C;
  color: #fff; }
  [data-bgcolor="bg-basecolor-white"] a {
    color: #fff; }

[data-bgcolor="bg-emerald-white"] {
  background-color: #2ecc71;
  color: #fff; }
  [data-bgcolor="bg-emerald-white"] a {
    color: #fff; }

[data-bgcolor="bg-smoothred-white"] {
  background-color: #d87a80;
  color: #fff; }
  [data-bgcolor="bg-smoothred-white"] a {
    color: #fff; }

[data-bgcolor="bg-yellow-white"] {
  background-color: #e5cf0d;
  color: #fff; }
  [data-bgcolor="bg-yellow-white"] a {
    color: #fff; }

[data-bgcolor="bg-blue-white"] {
  background-color: #5ab1ef;
  color: #fff; }
  [data-bgcolor="bg-blue-white"] a {
    color: #fff; }

[data-bgcolor="bg-green-white"] {
  background-color: #2ec7c9;
  color: #fff; }
  [data-bgcolor="bg-green-white"] a {
    color: #fff; }

[data-bgcolor="bg-basecolorhover"] {
  background-color: #ec1d53; }

[data-bgcolor="bg-basedarkcolor"] {
  background-color: #c50027; }

[data-bgcolor="bg-transparent"] {
  background-color: transparent; }

[data-bgcolor="bg-turquoise"] {
  background-color: #1abc9c; }

[data-bgcolor="bg-greantea"] {
  background-color: #16a085; }

[data-bgcolor="bg-emerald"] {
  background-color: #2ecc71; }

[data-bgcolor="bg-nephritis"] {
  background-color: #27ae60; }

[data-bgcolor="bg-lightgreenish"] {
  background-color: #7bed9f; }

[data-bgcolor="bg-lightgreenishdark"] {
  background-color: #6ed68f; }

[data-bgcolor="bg-peterriver"] {
  background-color: #3498db; }

[data-bgcolor="bg-belizehole"] {
  background-color: #2980b9; }

[data-bgcolor="bg-amethyst"] {
  background-color: #9b59b6; }

[data-bgcolor="bg-wisteria"] {
  background-color: #8e44ad; }

[data-bgcolor="bg-wellasphalt"] {
  background-color: #34495e; }

[data-bgcolor="bg-mignightblue"] {
  background-color: #2c3e50; }

[data-bgcolor="bg-sunflower"] {
  background-color: #f1c40f; }

[data-bgcolor="bg-carrot"] {
  background-color: #e67e22; }

[data-bgcolor="bg-alizarin"] {
  background-color: #e74c3c; }

[data-bgcolor="bg-clouds"] {
  background-color: #ecf0f1; }

[data-bgcolor="bg-concerete"] {
  background-color: #95a5a6; }

[data-bgcolor="bg-orange"] {
  background-color: #f5994e; }

[data-bgcolor="bg-pumpkin"] {
  background-color: #d35400; }

[data-bgcolor="bg-pomegranate"] {
  background-color: #c0392b; }

[data-bgcolor="bg-silver"] {
  background-color: #bdc3c7; }

[data-bgcolor="bg-asbestos"] {
  background-color: #7f8c8d; }

[data-bgcolor="bg-light"] {
  background-color: #f8f9fa; }

[data-bgcolor="bg-backgroundlight"] {
  background-color: #eee; }

[data-bgcolor="bg-white"] {
  background-color: #fff; }

[data-bgcolor="bg-smoothred"] {
  background-color: #d87a80; }

[data-bgcolor="bg-yellow"] {
  background-color: #e5cf0d; }

[data-bgcolor="bg-blue"] {
  background-color: #5ab1ef; }

[data-bgcolor="bg-green"] {
  background-color: #2ec7c9; }

[data-bgcolor="bg-white-text"] {
  background-color: #fff;
  color: #DC143C; }
  [data-bgcolor="bg-white-text"] a {
    color: #DC143C; }

.electromagnetic-text {
  color: #2f3640 !important; }

.basecolor-text {
  color: #DC143C !important; }

.belizehole-text {
  color: #2980b9 !important; }

@font-face {
  font-family: Exo-Black;
  src: url(../../fonts/Exo/Exo-Black.ttf); }
@font-face {
  font-family: Exo-Bold;
  src: url(../../fonts/Exo/Exo-Bold.ttf); }
@font-face {
  font-family: Exo-Medium;
  src: url(../../fonts/Exo/Exo-Medium.ttf); }
@font-face {
  font-family: Exo-Regular;
  src: url(../../fonts/Exo/Exo-Regular.ttf); }
@font-face {
  font-family: Exo-SemiBold;
  src: url(../../fonts/Exo/Exo-SemiBold.ttf); }
@font-face {
  font-family: Lato-Black;
  src: url(../../fonts/Lato/Lato-Black.ttf); }
@font-face {
  font-family: Lato-Bold;
  src: url(../../fonts/Lato/Lato-Bold.ttf); }
@font-face {
  font-family: Lato-Hairline;
  src: url(../../fonts/Lato/Lato-Hairline.ttf); }
@font-face {
  font-family: Lato-Light;
  src: url(../../fonts/Lato/Lato-Light.ttf); }
@font-face {
  font-family: Lato-Regular;
  src: url(../../fonts/Lato/Lato-Regular.ttf); }
@font-face {
  font-family: Monoton-Regular;
  src: url(../../fonts/Monoton/Monoton-Regular.ttf); }
@font-face {
  font-family: Pacifico-Regular;
  src: url(../../fonts/Pacifico/Pacifico-Regular.ttf); }
.h1, .h2, .h3, .h4, .h5, .h6, code, h1, h2, h3, h4, h5, h6, kbd, pre, samp {
  font-family: Quicksand,Georgia,'Times New Roman',Times,serif; }

.bg-pan-left {
  -webkit-animation: bg-pan-left 8s infinite both;
  animation: bg-pan-left 8s infinite both; }

.card {
  width: 100%; }

.p-custom {
  padding: .6rem 1.25rem; }

.pm-custom {
  padding: .5rem 1.25rem !important;
  margin-top: 0rem !important; }

.scroll-hoz {
  max-width: 100%;
  overflow-x: scroll; }

.no-border-radius {
  border-radius: 0; }

.br {
  border-radius: .1rem; }

.br-2 {
  border-radius: .2rem; }

.br-3 {
  border-radius: .3rem; }

.br-4 {
  border-radius: .4rem; }

.br-5 {
  border-radius: .5rem; }

table thead {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd; }

.control-tab-scroll {
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding: 0 0 10px 0; }

.nav-link-pnd {
  display: block;
  padding: .625rem 2rem; }

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #263238; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #263238; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #263238; }

.mx-size {
  max-height: 35rem;
  height: 35rem; }

.owl-item.active {
  padding: 1rem 1rem; }

.img-custom-size {
  max-width: 40%; }

.sidebar-light .nav-sidebar .nav-link:not(.disabled).btn-danger-custom {
  background: #f44336;
  color: #fff; }

.sidebar-light .nav-sidebar .nav-link:not(.disabled).btn-danger-custom:hover {
  color: #fff;
  background-color: #ca4d44; }

/*# sourceMappingURL=pnd-style.css.map */
