﻿@model IEnumerable<ManagementProject.Models.ProjectCondition>
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">List Project Conditions</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload" asp-action="Index"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="float-right">
                    <button onclick="location.href='@Url.Action("Create","ProjectConditions")'"
                            class="ui-button jui-button bg-green border-green" data-fouc>
                        <i class="icon-plus3 mr-1"></i> New Project Condition
                    </button>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <table class="table datatable-basic">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CONDITION_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.PROJECT_TYPE)</th>
                        <th>@Html.DisplayNameFor(model => model.SOURCEID)</th>
                        <th>@Html.DisplayNameFor(model => model.ABBREVIATION)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CONDITION_TYPE)</td>
                                <td>@Html.DisplayFor(modelItem => item.PROJECT_TYPE)</td>
                                <td>@Html.DisplayFor(modelItem => item.SOURCEID)</td>
                                <td>@Html.DisplayFor(modelItem => item.ABBREVIATION)</td>
                                <td class="text-center">
                                    <div class="list-icons">
                                        <div class="dropdown">
                                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="@Url.Action("Edit","ProjectConditions",new { id = item.CONDITION_TYPE})" class="dropdown-item">Edit <i class="fa fa-edit mr-1"></i></a>
                                                <a href="#modal_backdrop" id="mydel" data-toggle="modal" onclick="return getTitleRow(this);" class="dropdown-item">Delete <i class="icon-trash mr-1"></i></a>
                                                @Html.Hidden(item.CONDITION_TYPE) @Html.Hidden(Url.Action("Delete", "ProjectConditions", new { id = item.CONDITION_TYPE }))
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<script src="~/scripts/InternalCUD.js"></script>
<partial name="~/Views/Shared/_delete-screen.cshtml" />
<partial name="~/Views/Shared/_app-trans-message.cshtml" view-data="ViewData" />