﻿@model ManagementProject.Models.Source

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Source</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ABBREVIATION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ABBREVIATION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LONG_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LONG_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SHORT_NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SHORT_NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ACTIVE_IND)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ACTIVE_IND)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EFFECTIVE_DATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EFFECTIVE_DATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EXPIRY_DATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EXPIRY_DATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PPDM_GUID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PPDM_GUID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.REMARK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.REMARK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ROW_CHANGED_BY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROW_CHANGED_BY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ROW_CHANGED_DATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROW_CHANGED_DATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ROW_CREATED_BY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROW_CREATED_BY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ROW_CREATED_DATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROW_CREATED_DATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ROW_EFFECTIVE_DATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROW_EFFECTIVE_DATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ROW_EXPIRY_DATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROW_EXPIRY_DATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ROW_QUALITY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ROW_QUALITY)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SOURCEID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
