﻿@model ManagementProject.Models.ProjectStatus
<!-- Page content -->
<div class="page-content w-75">
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content">

            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Project Status Form Edit</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="remove" asp-action="Index" asp-controller="ProjectStatus"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "ProjectStatus", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" asp-for="STATUS" />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <fieldset>
                            <legend class="font-weight-semibold text-uppercase font-size-sm">Enter Project Status information:</legend>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Search Project ID:</label>
                                <div class="col-md-6 form-group-feedback-right">
                                    @Html.DropDownListFor(x => x.PROJECT_ID, (IEnumerable<SelectListItem>)ViewBag.ListProject, "-- Choose Project ID --", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Search Project Status:</label>
                                <div class="col-md-6 form-group-feedback-right">
                                    @Html.TextBoxFor(x => x.STATUS_ID, new { @class = "form-control" })
                                    @*@Html.DropDownListFor(x => x.STATUS_ID, (IEnumerable<SelectListItem>)ViewBag.ListProjectStatusType, "-- Choose Project Status --", new { @class = "form-control" })*@
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Select Reference Sources:</label>
                                <div class="col-md-6">
                                    @Html.DropDownListFor(x => x.SOURCEID, (IEnumerable<SelectListItem>)ViewBag.ListSource, "-- Choose Reference Source --", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Search Project Step:</label>
                                <div class="col-md-6 form-group-feedback-right">
                                    @Html.DropDownListFor(x => x.STEP_ID, (IEnumerable<SelectListItem>)ViewBag.ListProjectStep, "-- Choose Project Step --", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Enter status:</label>
                                <div class="col-md-6 form-group-feedback-right">
                                    @Html.TextBoxFor(x => x.STATUS, new { @class = "form-control", @placeholder = "Status" })
                                    <div class="form-control-feedback">
                                        <i id="stattype-inf-opener" title="Click for detail information" class="icon-question4"></i>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend></legend>
                            <div class="form-group row">
                                <div class="text-right col-md-12">
                                    <button type="submit" class="btn bg-teal">Submit form <i class="icon-paperplane ml-2"></i></button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <!-- /form inputs -->
            <partial name="~/Views/Shared/_information_entry.cshtml" />
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}