﻿@model IEnumerable<ManagementProject.Models.ProjectStatus>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">List Project Plan Steps</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload" asp-action="Index"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="float-right">
                    <button onclick="location.href='@Url.Action("Create","ProjectStatus")'"
                            class="ui-button jui-button bg-green border-green" data-fouc>
                        <i class="icon-plus3 mr-1"></i> New Project Status
                    </button>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <table class="table datatable-basic">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PROJECT_ID)</th>
                        <th>@Html.DisplayNameFor(model => model.STATUS_ID)</th>
                        <th>@Html.DisplayNameFor(model => model.SOURCEID)</th>
                        <th>@Html.DisplayNameFor(model => model.STATUS)</th>
                        <th>@Html.DisplayNameFor(model => model.STEP_ID)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var item in Model)
                        {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PROJECT_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.STATUS_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.SOURCEID)</td>
                        <td>@Html.DisplayFor(modelItem => item.STATUS)</td>
                        <td>@Html.DisplayFor(modelItem => item.STEP_ID)</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="@Url.Action("Edit","ProjectStatus",new { id = item.STATUS_ID})" class="dropdown-item">Edit <i class="fa fa-edit mr-1"></i></a>
                                        <a href="#modal_backdrop" id="mydel" data-toggle="modal" onclick="return getTitleRow(this);" class="dropdown-item">Delete <i class="icon-trash mr-1"></i></a>
                                        @Html.Hidden(item.STATUS_ID) @Html.Hidden(Url.Action("Delete", "ProjectStatus", new { id = item.STATUS_ID }))

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<script src="~/scripts/InternalCUD.js"></script>
<partial name="~/Views/Shared/_delete-screen.cshtml" />
<partial name="~/Views/Shared/_app-trans-message.cshtml" view-data="ViewData" />



