[data-bgcolor="bg-basecolor"] {
  background-color: #DC143C; }

[data-bgcolor="bg-basecolor-white"] {
  background-color: #da251c;
  color: #fff; }
  [data-bgcolor="bg-basecolor-white"] a {
    color: #fff; }

[data-bgcolor="bg-emerald-white"] {
  background-color: #2ecc71;
  color: #fff; }
  [data-bgcolor="bg-emerald-white"] a {
    color: #fff; }

[data-bgcolor="bg-smoothred-white"] {
  background-color: #d87a80;
  color: #fff; }
  [data-bgcolor="bg-smoothred-white"] a {
    color: #fff; }

[data-bgcolor="bg-yellow-white"] {
  background-color: #e5cf0d;
  color: #fff; }
  [data-bgcolor="bg-yellow-white"] a {
    color: #fff; }

[data-bgcolor="bg-blue-white"] {
  background-color: #5ab1ef;
  color: #fff; }
  [data-bgcolor="bg-blue-white"] a {
    color: #fff; }

[data-bgcolor="bg-green-white"] {
  background-color: #2ec7c9;
  color: #fff; }
  [data-bgcolor="bg-green-white"] a {
    color: #fff; }

[data-bgcolor="bg-basecolorhover"] {
  background-color: #ec1d53; }

[data-bgcolor="bg-basedarkcolor"] {
  background-color: #c50027; }

[data-bgcolor="bg-transparent"] {
  background-color: transparent; }

[data-bgcolor="bg-turquoise"] {
  background-color: #1abc9c; }

[data-bgcolor="bg-greantea"] {
  background-color: #16a085; }

[data-bgcolor="bg-emerald"] {
  background-color: #2ecc71; }

[data-bgcolor="bg-nephritis"] {
  background-color: #27ae60; }

[data-bgcolor="bg-lightgreenish"] {
  background-color: #7bed9f; }

[data-bgcolor="bg-lightgreenishdark"] {
  background-color: #6ed68f; }

[data-bgcolor="bg-peterriver"] {
  background-color: #3498db; }

[data-bgcolor="bg-belizehole"] {
  background-color: #2980b9; }

[data-bgcolor="bg-amethyst"] {
  background-color: #9b59b6; }

[data-bgcolor="bg-wisteria"] {
  background-color: #8e44ad; }

[data-bgcolor="bg-wellasphalt"] {
  background-color: #34495e; }

[data-bgcolor="bg-mignightblue"] {
  background-color: #2c3e50; }

[data-bgcolor="bg-sunflower"] {
  background-color: #f1c40f; }

[data-bgcolor="bg-carrot"] {
  background-color: #e67e22; }

[data-bgcolor="bg-alizarin"] {
  background-color: #e74c3c; }

[data-bgcolor="bg-clouds"] {
  background-color: #ecf0f1; }

[data-bgcolor="bg-concerete"] {
  background-color: #95a5a6; }

[data-bgcolor="bg-orange"] {
  background-color: #f5994e; }

[data-bgcolor="bg-pumpkin"] {
  background-color: #d35400; }

[data-bgcolor="bg-pomegranate"] {
  background-color: #c0392b; }

[data-bgcolor="bg-silver"] {
  background-color: #bdc3c7; }

[data-bgcolor="bg-asbestos"] {
  background-color: #7f8c8d; }

[data-bgcolor="bg-light"] {
  background-color: #f8f9fa; }

[data-bgcolor="bg-backgroundlight"] {
  background-color: #eee; }

[data-bgcolor="bg-white"] {
  background-color: #fff; }

[data-bgcolor="bg-smoothred"] {
  background-color: #d87a80; }

[data-bgcolor="bg-yellow"] {
  background-color: #e5cf0d; }

[data-bgcolor="bg-blue"] {
  background-color: #5ab1ef; }

[data-bgcolor="bg-green"] {
  background-color: #2ec7c9; }

[data-bgcolor="bg-white-text"] {
  background-color: #fff;
  color: #DC143C; }
  [data-bgcolor="bg-white-text"] a {
    color: #DC143C; }

.electromagnetic-text {
  color: #2f3640 !important; }

.basecolor-text {
  color: #DC143C !important; }

.belizehole-text {
  color: #2980b9 !important; }

/*BUTTON*/
.btn-red-pertamina {
  background: #da251c;
  color: #fff; }

.btn-blue-pertamina {
  background: #006cb8;
  color: #fff; }

.btn-green-pertamina {
  background: #acc42a;
  color: #fff; }

/*# sourceMappingURL=color.css.map */
