@font-face {
  font-family: Exo-Black;
  src: url(../../fonts/Exo/Exo-Black.ttf); }
@font-face {
  font-family: Exo-Bold;
  src: url(../../fonts/Exo/Exo-Bold.ttf); }
@font-face {
  font-family: Exo-Medium;
  src: url(../../fonts/Exo/Exo-Medium.ttf); }
@font-face {
  font-family: Exo-Regular;
  src: url(../../fonts/Exo/Exo-Regular.ttf); }
@font-face {
  font-family: Exo-SemiBold;
  src: url(../../fonts/Exo/Exo-SemiBold.ttf); }
@font-face {
  font-family: Lato-Black;
  src: url(../../fonts/Lato/Lato-Black.ttf); }
@font-face {
  font-family: Lato-Bold;
  src: url(../../fonts/Lato/Lato-Bold.ttf); }
@font-face {
  font-family: Lato-Hairline;
  src: url(../../fonts/Lato/Lato-Hairline.ttf); }
@font-face {
  font-family: Lato-Light;
  src: url(../../fonts/Lato/Lato-Light.ttf); }
@font-face {
  font-family: Lato-Regular;
  src: url(../../fonts/Lato/Lato-Regular.ttf); }
@font-face {
  font-family: Monoton-Regular;
  src: url(../../fonts/Monoton/Monoton-Regular.ttf); }
@font-face {
  font-family: Pacifico-Regular;
  src: url(../../fonts/Pacifico/Pacifico-Regular.ttf); }

/*# sourceMappingURL=fonts.css.map */
