[data-bgcolor="bg-basecolor"] {
  background-color: #DC143C; }

[data-bgcolor="bg-basecolor-white"] {
  background-color: #da251c;
  color: #fff; }
  [data-bgcolor="bg-basecolor-white"] a {
    color: #fff; }

[data-bgcolor="bg-emerald-white"] {
  background-color: #2ecc71;
  color: #fff; }
  [data-bgcolor="bg-emerald-white"] a {
    color: #fff; }

[data-bgcolor="bg-smoothred-white"] {
  background-color: #d87a80;
  color: #fff; }
  [data-bgcolor="bg-smoothred-white"] a {
    color: #fff; }

[data-bgcolor="bg-yellow-white"] {
  background-color: #e5cf0d;
  color: #fff; }
  [data-bgcolor="bg-yellow-white"] a {
    color: #fff; }

[data-bgcolor="bg-blue-white"] {
  background-color: #5ab1ef;
  color: #fff; }
  [data-bgcolor="bg-blue-white"] a {
    color: #fff; }

[data-bgcolor="bg-green-white"] {
  background-color: #2ec7c9;
  color: #fff; }
  [data-bgcolor="bg-green-white"] a {
    color: #fff; }

[data-bgcolor="bg-basecolorhover"] {
  background-color: #ec1d53; }

[data-bgcolor="bg-basedarkcolor"] {
  background-color: #c50027; }

[data-bgcolor="bg-transparent"] {
  background-color: transparent; }

[data-bgcolor="bg-turquoise"] {
  background-color: #1abc9c; }

[data-bgcolor="bg-greantea"] {
  background-color: #16a085; }

[data-bgcolor="bg-emerald"] {
  background-color: #2ecc71; }

[data-bgcolor="bg-nephritis"] {
  background-color: #27ae60; }

[data-bgcolor="bg-lightgreenish"] {
  background-color: #7bed9f; }

[data-bgcolor="bg-lightgreenishdark"] {
  background-color: #6ed68f; }

[data-bgcolor="bg-peterriver"] {
  background-color: #3498db; }

[data-bgcolor="bg-belizehole"] {
  background-color: #2980b9; }

[data-bgcolor="bg-amethyst"] {
  background-color: #9b59b6; }

[data-bgcolor="bg-wisteria"] {
  background-color: #8e44ad; }

[data-bgcolor="bg-wellasphalt"] {
  background-color: #34495e; }

[data-bgcolor="bg-mignightblue"] {
  background-color: #2c3e50; }

[data-bgcolor="bg-sunflower"] {
  background-color: #f1c40f; }

[data-bgcolor="bg-carrot"] {
  background-color: #e67e22; }

[data-bgcolor="bg-alizarin"] {
  background-color: #e74c3c; }

[data-bgcolor="bg-clouds"] {
  background-color: #ecf0f1; }

[data-bgcolor="bg-concerete"] {
  background-color: #95a5a6; }

[data-bgcolor="bg-orange"] {
  background-color: #f5994e; }

[data-bgcolor="bg-pumpkin"] {
  background-color: #d35400; }

[data-bgcolor="bg-pomegranate"] {
  background-color: #c0392b; }

[data-bgcolor="bg-silver"] {
  background-color: #bdc3c7; }

[data-bgcolor="bg-asbestos"] {
  background-color: #7f8c8d; }

[data-bgcolor="bg-light"] {
  background-color: #f8f9fa; }

[data-bgcolor="bg-backgroundlight"] {
  background-color: #eee; }

[data-bgcolor="bg-white"] {
  background-color: #fff; }

[data-bgcolor="bg-smoothred"] {
  background-color: #d87a80; }

[data-bgcolor="bg-yellow"] {
  background-color: #e5cf0d; }

[data-bgcolor="bg-blue"] {
  background-color: #5ab1ef; }

[data-bgcolor="bg-green"] {
  background-color: #2ec7c9; }

[data-bgcolor="bg-white-text"] {
  background-color: #fff;
  color: #DC143C; }
  [data-bgcolor="bg-white-text"] a {
    color: #DC143C; }

.electromagnetic-text {
  color: #2f3640 !important; }

.basecolor-text {
  color: #DC143C !important; }

.belizehole-text {
  color: #2980b9 !important; }

/*BUTTON*/
.btn-red-pertamina {
  background: #da251c;
  color: #fff; }

.btn-blue-pertamina {
  background: #006cb8;
  color: #fff; }

.btn-green-pertamina {
  background: #acc42a;
  color: #fff; }

@font-face {
  font-family: Exo-Black;
  src: url(../../fonts/Exo/Exo-Black.ttf); }
@font-face {
  font-family: Exo-Bold;
  src: url(../../fonts/Exo/Exo-Bold.ttf); }
@font-face {
  font-family: Exo-Medium;
  src: url(../../fonts/Exo/Exo-Medium.ttf); }
@font-face {
  font-family: Exo-Regular;
  src: url(../../fonts/Exo/Exo-Regular.ttf); }
@font-face {
  font-family: Exo-SemiBold;
  src: url(../../fonts/Exo/Exo-SemiBold.ttf); }
@font-face {
  font-family: Lato-Black;
  src: url(../../fonts/Lato/Lato-Black.ttf); }
@font-face {
  font-family: Lato-Bold;
  src: url(../../fonts/Lato/Lato-Bold.ttf); }
@font-face {
  font-family: Lato-Hairline;
  src: url(../../fonts/Lato/Lato-Hairline.ttf); }
@font-face {
  font-family: Lato-Light;
  src: url(../../fonts/Lato/Lato-Light.ttf); }
@font-face {
  font-family: Lato-Regular;
  src: url(../../fonts/Lato/Lato-Regular.ttf); }
@font-face {
  font-family: Monoton-Regular;
  src: url(../../fonts/Monoton/Monoton-Regular.ttf); }
@font-face {
  font-family: Pacifico-Regular;
  src: url(../../fonts/Pacifico/Pacifico-Regular.ttf); }
body {
  font-family: Lato-Regular;
  /*background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);*/ }

.background-login {
  /* The image used */
  background-image: url("../../images/backgrounds/background.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute; }

.without-padding {
  padding: 0; }

.padding-2x {
  padding: 2rem; }

.bg-general {
  background-color: #eee; }

.full-size-screen {
  height: 100vh;
  width: 100%; }

header .header-bg {
  background-color: #8e44ad; }

.carousel-inner {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.34rem 0 0 0.34rem; }
  .carousel-inner .carousel-item.layout1 {
    height: 100vh;
    min-height: 70vh;
    max-height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .carousel-inner .carousel-item.layout3 {
    height: 100%;
    min-height: 81vh;
    max-height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0.34rem 0 0 0.34rem; }

.background-image {
  top: -1rem;
  padding: 30rem 0;
  background-image: url("../images/banner1__.jpg");
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  left: -10rem;
  position: fixed;
  right: -10rem;
  z-index: 1;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover; }

.login-content {
  min-height: 60vh;
  height: 80vh; }

.login-content-layout2 {
  min-height: 60vh;
  height: 100vh; }

.position-custom-login {
  position: absolute !important;
  margin: 0 auto; }

.login-area {
  border-radius: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  left: 0;
  position: relative;
  right: 0;
  z-index: 2;
  padding: 0; }
  .login-area .carousel-caption {
    right: 0 !important;
    left: 0 !Important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    bottom: 0 !important;
    top: 0; }
    .login-area .carousel-caption .block-black-area {
      background: rgba(0, 0, 0, 0.6);
      background-size: cover;
      display: block;
      width: 100%;
      height: 100%;
      padding: 10rem 5rem; }
      .login-area .carousel-caption .block-black-area h6 {
        height: auto;
        position: relative; }
      .login-area .carousel-caption .block-black-area img {
        border-radius: 3px; }
      .login-area .carousel-caption .block-black-area span {
        width: 100%;
        display: block;
        margin: 1rem 0; }
    .login-area .carousel-caption .block-black-area-2 {
      background: rgba(0, 0, 0, 0.6);
      background-size: cover;
      display: block;
      width: 100%;
      height: 100%;
      padding: 2rem 3rem;
      border-radius: 0.34rem 0 0 0.34rem; }
      .login-area .carousel-caption .block-black-area-2 h6 {
        height: auto;
        position: relative; }
      .login-area .carousel-caption .block-black-area-2 img {
        border-radius: 3px; }
      .login-area .carousel-caption .block-black-area-2 span {
        width: 100%;
        display: block;
        margin: 1rem 0; }
    .login-area .carousel-caption .block-area-2 {
      background: white;
      background-size: cover;
      display: block;
      width: 100%;
      height: 100%;
      padding: 3.5rem 1rem; }
      .login-area .carousel-caption .block-area-2 h6, .login-area .carousel-caption .block-area-2 h4 {
        height: auto;
        position: relative;
        color: #000; }
      .login-area .carousel-caption .block-area-2 img {
        border-radius: 3px; }
      .login-area .carousel-caption .block-area-2 span {
        width: 100%;
        display: block;
        margin: 1rem 0;
        color: #000; }

.login-title {
  background: #fff;
  font-family: Pacifico-Regular;
  font-size: 2rem;
  border-radius: 3px; }

.custom-field {
  border-radius: 25%;
  font-family: Lato-Regular; }
  .custom-field i.fa {
    font-size: .9rem !important;
    top: .8rem;
    left: 1rem; }
  .custom-field .custom-field-text {
    margin-left: 0 !important;
    padding-left: 2.5rem !important;
    width: -webkit-calc(100% - 2.5rem);
    border: 1px solid #ecf0f1 !important;
    border-radius: 50px !important; }
  .custom-field .custom-field-text:focus {
    border-top: 1px solid #3498db !important;
    border-left: 1px solid #3498db !important;
    border-right: 1px solid #3498db !important;
    border-bottom: 0.1px solid #3498db !important; }
  .custom-field label.font-weight-light.active {
    margin-left: 1.5rem !important;
    font-family: Lato-Regular; }

.login-button-submit {
  width: 100% !important;
  border-radius: 50px !important; }

footer .footer-copyright {
  background-color: transparent !important;
  color: #bdc3c7 !important;
  bottom: 1.5rem;
  color: #fff;
  z-index: 1;
  display: block;
  position: relative;
  font-size: 12px !important; }
  footer .footer-copyright a {
    color: #3498db !important; }

/*# sourceMappingURL=login-style.css.map */
