[data-bgcolor="bg-basecolor"] {
  background-color: #DC143C; }

[data-bgcolor="bg-basecolor-white"] {
  background-color: #da251c;
  color: #fff; }
  [data-bgcolor="bg-basecolor-white"] a {
    color: #fff; }

[data-bgcolor="bg-emerald-white"] {
  background-color: #2ecc71;
  color: #fff; }
  [data-bgcolor="bg-emerald-white"] a {
    color: #fff; }

[data-bgcolor="bg-smoothred-white"] {
  background-color: #d87a80;
  color: #fff; }
  [data-bgcolor="bg-smoothred-white"] a {
    color: #fff; }

[data-bgcolor="bg-yellow-white"] {
  background-color: #e5cf0d;
  color: #fff; }
  [data-bgcolor="bg-yellow-white"] a {
    color: #fff; }

[data-bgcolor="bg-blue-white"] {
  background-color: #5ab1ef;
  color: #fff; }
  [data-bgcolor="bg-blue-white"] a {
    color: #fff; }

[data-bgcolor="bg-green-white"] {
  background-color: #2ec7c9;
  color: #fff; }
  [data-bgcolor="bg-green-white"] a {
    color: #fff; }

[data-bgcolor="bg-basecolorhover"] {
  background-color: #ec1d53; }

[data-bgcolor="bg-basedarkcolor"] {
  background-color: #c50027; }

[data-bgcolor="bg-transparent"] {
  background-color: transparent; }

[data-bgcolor="bg-turquoise"] {
  background-color: #1abc9c; }

[data-bgcolor="bg-greantea"] {
  background-color: #16a085; }

[data-bgcolor="bg-emerald"] {
  background-color: #2ecc71; }

[data-bgcolor="bg-nephritis"] {
  background-color: #27ae60; }

[data-bgcolor="bg-lightgreenish"] {
  background-color: #7bed9f; }

[data-bgcolor="bg-lightgreenishdark"] {
  background-color: #6ed68f; }

[data-bgcolor="bg-peterriver"] {
  background-color: #3498db; }

[data-bgcolor="bg-belizehole"] {
  background-color: #2980b9; }

[data-bgcolor="bg-amethyst"] {
  background-color: #9b59b6; }

[data-bgcolor="bg-wisteria"] {
  background-color: #8e44ad; }

[data-bgcolor="bg-wellasphalt"] {
  background-color: #34495e; }

[data-bgcolor="bg-mignightblue"] {
  background-color: #2c3e50; }

[data-bgcolor="bg-sunflower"] {
  background-color: #f1c40f; }

[data-bgcolor="bg-carrot"] {
  background-color: #e67e22; }

[data-bgcolor="bg-alizarin"] {
  background-color: #e74c3c; }

[data-bgcolor="bg-clouds"] {
  background-color: #ecf0f1; }

[data-bgcolor="bg-concerete"] {
  background-color: #95a5a6; }

[data-bgcolor="bg-orange"] {
  background-color: #f5994e; }

[data-bgcolor="bg-pumpkin"] {
  background-color: #d35400; }

[data-bgcolor="bg-pomegranate"] {
  background-color: #c0392b; }

[data-bgcolor="bg-silver"] {
  background-color: #bdc3c7; }

[data-bgcolor="bg-asbestos"] {
  background-color: #7f8c8d; }

[data-bgcolor="bg-light"] {
  background-color: #f8f9fa; }

[data-bgcolor="bg-backgroundlight"] {
  background-color: #eee; }

[data-bgcolor="bg-white"] {
  background-color: #fff; }

[data-bgcolor="bg-smoothred"] {
  background-color: #d87a80; }

[data-bgcolor="bg-yellow"] {
  background-color: #e5cf0d; }

[data-bgcolor="bg-blue"] {
  background-color: #5ab1ef; }

[data-bgcolor="bg-green"] {
  background-color: #2ec7c9; }

[data-bgcolor="bg-white-text"] {
  background-color: #fff;
  color: #DC143C; }
  [data-bgcolor="bg-white-text"] a {
    color: #DC143C; }

.electromagnetic-text {
  color: #2f3640 !important; }

.basecolor-text {
  color: #DC143C !important; }

.belizehole-text {
  color: #2980b9 !important; }

/*BUTTON*/
.btn-red-pertamina {
  background: #da251c;
  color: #fff; }

.btn-blue-pertamina {
  background: #006cb8;
  color: #fff; }

.btn-green-pertamina {
  background: #acc42a;
  color: #fff; }

@font-face {
  font-family: Exo-Black;
  src: url(../../fonts/Exo/Exo-Black.ttf); }
@font-face {
  font-family: Exo-Bold;
  src: url(../../fonts/Exo/Exo-Bold.ttf); }
@font-face {
  font-family: Exo-Medium;
  src: url(../../fonts/Exo/Exo-Medium.ttf); }
@font-face {
  font-family: Exo-Regular;
  src: url(../../fonts/Exo/Exo-Regular.ttf); }
@font-face {
  font-family: Exo-SemiBold;
  src: url(../../fonts/Exo/Exo-SemiBold.ttf); }
@font-face {
  font-family: Lato-Black;
  src: url(../../fonts/Lato/Lato-Black.ttf); }
@font-face {
  font-family: Lato-Bold;
  src: url(../../fonts/Lato/Lato-Bold.ttf); }
@font-face {
  font-family: Lato-Hairline;
  src: url(../../fonts/Lato/Lato-Hairline.ttf); }
@font-face {
  font-family: Lato-Light;
  src: url(../../fonts/Lato/Lato-Light.ttf); }
@font-face {
  font-family: Lato-Regular;
  src: url(../../fonts/Lato/Lato-Regular.ttf); }
@font-face {
  font-family: Monoton-Regular;
  src: url(../../fonts/Monoton/Monoton-Regular.ttf); }
@font-face {
  font-family: Pacifico-Regular;
  src: url(../../fonts/Pacifico/Pacifico-Regular.ttf); }
body {
  /*font-family: Lato-Regular;*/
  /*font-family: "Open Sans", Arial, sans-serif;*/
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 13px;
  /*line-height: 22px;*/ }

.h1, .h2, .h3, .h4, .h5, .h6, code, h1, h2, h3, h4, h5, h6, kbd, pre, samp {
  /*font-family: Quicksand,Georgia,'Times New Roman',Times,serif;*/ }

a {
  color: #006cb8; }

.border-radius-global {
  border-radius: 2rem; }

.border-radius {
  border-radius: .2rem; }

.padding-standart-global {
  padding: .3rem 1.5rem; }

.padding-box {
  padding: 2rem 2.5rem; }

.padding-box-zero {
  padding: 0; }
  .padding-box-zero .card {
    overflow: hidden;
    border-radius: 0;
    border: none; }

.background-image-one {
  background-image: url(../../images/social-data.jpg);
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  z-index: 1;
  height: 300px;
  left: -1rem;
  right: -1rem;
  padding: 15rem;
  top: -1rem;
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; }

.background-image-two {
  background-image: url(../../images/per.jpg);
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  z-index: 1;
  height: 300px;
  left: -1rem;
  right: -1rem;
  padding: 15rem;
  top: -1rem;
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; }

.background-image-three {
  background-image: url(../../images/per2.jpg);
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  z-index: 1;
  height: 300px;
  left: -1rem;
  right: -1rem;
  padding: 15rem;
  top: -1rem;
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; }

.no-padding {
  padding: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.owl-nav {
  position: absolute;
  top: 2.9rem;
  width: 95%;
  left: 2rem; }
  .owl-nav button.owl-prev {
    float: left; }
    .owl-nav button.owl-prev span {
      float: left;
      font-size: 3rem; }
    .owl-nav button.owl-prev span.navigate {
      float: left;
      font-size: .8rem; }
  .owl-nav button.owl-next {
    float: left; }
    .owl-nav button.owl-next span {
      float: right;
      font-size: 3rem; }

.chart {
  min-height: 300px; }
  .chart svg {
    margin: 0 auto; }

.table thead th {
  font-weight: bold !important; }

.desc-dashboard {
  z-index: 1; }

.legend-circle {
  border-radius: 2rem;
  width: 40px;
  height: 40px;
  display: block; }

.legend-circle-risk {
  background: #fff;
  border-radius: 2rem;
  width: 40px;
  height: 40px;
  border: 0.3rem solid #2980b9;
  display: block; }

.legend-circle-expaired {
  background: #fff;
  border-radius: 2rem;
  width: 40px;
  height: 40px;
  border: 0.5rem solid #DC143C;
  display: block; }

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px; }

.input-group-btn .btn-group {
  display: flex !important; }

.btn-group .btn {
  border-radius: 0;
  margin-left: -1px; }

.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0; }

.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

@media screen and (min-width: 768px) {
  #adv-search {
    width: 500px;
    margin: 0 auto; }

  .dropdown.dropdown-lg {
    position: static !important; }

  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px; } }
.dropdown-menu.dashboard-search.show {
  display: block;
  width: 38rem;
  left: -33rem;
  position: absolute; }

.dropdown-item {
  font-size: 13px; }

.navbar {
  border-bottom: 0.7px solid #eee;
  box-shadow: 0 0 5px #d9d9d9; }
  .navbar .navbar-brand {
    padding: 0.1rem 0 !important; }
    .navbar .navbar-brand a {
      color: #d87a80;
      padding: 0rem 3rem;
      height: 100%; }
      .navbar .navbar-brand a h6 {
        color: #d87a80; }
      .navbar .navbar-brand a img {
        height: 2.2rem !important;
        display: block;
        width: 100%;
        margin-top: .3rem; }
  .navbar .navbar-collapse a.btn.dropdown-toggle.dropdown-navi {
    border-top: .1rem solid #ddd;
    border-bottom: .1rem solid #ddd; }
  .navbar a.btn-logout:hover {
    background: #fff !important;
    color: #d87a80 !important;
    border: 0.1rem solid #d87a80; }

.page-content .content-wrapper .navigation-menu .navigation-menu-tab button.menu-second-inhead {
  width: 100%;
  border-radius: 0;
  padding: .8rem 0;
  color: #fff;
  border-bottom: 1px solid #ec1d53; }
.page-content .content-wrapper .navigation-menu .navigation-menu-tab button.menu-second-inhead-two {
  width: 100%;
  border-radius: 0;
  padding: .8rem 0;
  color: #fff;
  font-size: 1rem;
  /*border-bottom: 1px solid $white;*/ }
.page-content .content-wrapper .navigation-menu .navigation-menu-tab a.menu-second-inhead-two {
  width: 100%;
  border-radius: 0;
  padding: .4rem 0;
  color: #fff;
  font-size: 1rem;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /*border-bottom: 1px solid $white;*/ }
  .page-content .content-wrapper .navigation-menu .navigation-menu-tab a.menu-second-inhead-two i {
    display: block; }
  .page-content .content-wrapper .navigation-menu .navigation-menu-tab a.menu-second-inhead-two span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px; }
.page-content .content-wrapper .result-collapse .collapse {
  padding: .2rem 0rem;
  width: 100%; }
  .page-content .content-wrapper .result-collapse .collapse a.result-menu {
    padding: .3rem 0; }
    .page-content .content-wrapper .result-collapse .collapse a.result-menu i {
      width: 100%;
      font-size: 1.3rem;
      margin-bottom: .3rem; }
    .page-content .content-wrapper .result-collapse .collapse a.result-menu span {
      width: 100%;
      display: block;
      font-size: .7rem;
      text-transform: uppercase; }
  .page-content .content-wrapper .result-collapse .collapse a.result-menu:after {
    width: .7px;
    height: 2rem;
    background: #ca3d61;
    content: '';
    display: block;
    position: absolute;
    top: .5rem;
    left: 0;
    box-shadow: 0 0 10px #941436; }
.page-content .content-wrapper .result-collapse .collapse.show {
  border-top: .01rem solid #ff1f5a; }
.page-content .content-wrapper .main-dashboard h2.title-main-dashboard {
  font-weight: 500;
  color: #2c3e50;
  text-align: center; }
.page-content .content-wrapper .main-dashboard i {
  font-size: 3rem;
  color: #fff;
  width: 5rem;
  background: #fa396c;
  padding: 1rem 0;
  border-radius: 3rem;
  margin: 0 auto; }
.page-content .content-wrapper .main-dashboard h5 {
  color: #2f3640;
  text-transform: uppercase;
  font-weight: 500; }
.page-content .content-wrapper .main-dashboard a.goto-link {
  padding: .3rem .5rem;
  border: 0.1rem solid #d87a80;
  width: 40%;
  margin: 0 auto;
  font-weight: 500; }
.page-content .content-wrapper .main-dashboard a.goto-link:hover {
  background-color: #d87a80;
  color: #fff; }
.page-content .content-wrapper .main-dashboard-two .nav-tabs-solid .nav-link.active {
  color: #fff;
  background-color: #DC143C; }
.page-content .content-wrapper .main-dashboard-two .nav-tabs-solid .nav-link:hover {
  color: #DC143C; }
.page-content .content-wrapper .main-dashboard-two a.nav-link.active i {
  color: #fff; }
.page-content .content-wrapper .main-dashboard-two a.nav-link i {
  color: #000; }
.page-content .content-wrapper .main-dashboard-two a.nav-link:hover i {
  color: #DC143C; }
.page-content .content-wrapper .main-dashboard-two .box-circle {
  padding: 1rem;
  border: 1px solid #fff; }
  .page-content .content-wrapper .main-dashboard-two .box-circle span.circle {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 0 auto;
    border-radius: 3rem; }
  .page-content .content-wrapper .main-dashboard-two .box-circle span.circle-border {
    width: 5rem;
    height: 5rem;
    border: .3rem solid #000;
    display: block;
    margin: 0 auto;
    border-radius: 3rem; }
  .page-content .content-wrapper .main-dashboard-two .box-circle span.circle-border-blue {
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid #2980b9;
    display: block;
    margin: 0 auto;
    border-radius: 3rem; }
  .page-content .content-wrapper .main-dashboard-two .box-circle span.circle-border-red {
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid #DC143C;
    display: block;
    margin: 0 auto;
    border-radius: 3rem; }
  .page-content .content-wrapper .main-dashboard-two .box-circle span.circle-border-red-bold {
    width: 5rem;
    height: 5rem;
    border: 1rem solid #DC143C;
    display: block;
    margin: 0 auto;
    border-radius: 3rem; }
  .page-content .content-wrapper .main-dashboard-two .box-circle span.circle-border-white {
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid #fff;
    display: block;
    margin: 0 auto;
    border-radius: 3rem; }
.page-content .content-wrapper .main-dashboard-two h2.title-main-dashboard {
  font-weight: 500;
  color: #2c3e50;
  text-align: center;
  z-index: 1; }
.page-content .content-wrapper .main-dashboard-two i {
  /*font-size: 1rem;*/
  border-radius: 3rem;
  margin: 0 auto;
  z-index: 1;
  /*color: $white;*/ }
.page-content .content-wrapper .main-dashboard-two i.main-dashboard-icon {
  font-size: 3rem;
  color: #fff;
  width: 5rem;
  background: #fa396c;
  padding: 1rem 0;
  border-radius: 3rem;
  margin: 0 auto;
  z-index: 1;
  color: #fff; }
.page-content .content-wrapper .main-dashboard-two i.navigate {
  font-size: 1rem;
  color: #fff;
  width: 1rem;
  background: #dc143c;
  padding: 0rem 0;
  border-radius: 3rem;
  margin: 0 auto;
  z-index: 1;
  /* color: #dc143c; */ }
.page-content .content-wrapper .main-dashboard-two h3 {
  color: #2f3640;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
  /*color: $white;*/ }
.page-content .content-wrapper .main-dashboard-two h5 {
  color: #2f3640;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
  width: 100%; }
.page-content .content-wrapper .main-dashboard-two h6 {
  color: #2f3640;
  width: 100%; }
.page-content .content-wrapper .main-dashboard-two h6.title-main-dashboard {
  margin: 0 auto;
  color: #3498db !important;
  font-weight: 600; }
.page-content .content-wrapper .main-dashboard-two a.goto-link {
  padding: .3rem .5rem;
  border: 0.1rem solid #d87a80;
  width: 40%;
  margin: 0 auto;
  z-index: 1;
  font-weight: 500;
  color: #d87a80;
  background-color: #fff; }
.page-content .content-wrapper .main-dashboard-two a.goto-link:hover {
  z-index: 1;
  color: #fff;
  background-color: #d87a80; }

/*# sourceMappingURL=new-uniform.css.map */
