//BASE COLOR https://flatuicolors.com/palette/defo

$basecolor: #DC143C;
$basedarkcolor: #c50027;
$basecolorhover: #ec1d53;

$transparent: transparent;
$turquoise: #1abc9c;
$greantea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$lightgreenish: #7bed9f;
$lightgreenishdark: #6ed68f;
$peterriver: #3498db;
$belizehole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wellasphalt: #34495e;
$mignightblue: #2c3e50;
$electromagnetic: #2f3640;
$sunflower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concerete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;
$light: #f8f9fa;
$backgroundlight: #eee;
$white: #fff;
$shadow: #ccc;
$lightshadow: #d9d9d9;
$smoothred: #ff1f5a;
$sunsetbegin: #db3951;
$sunsethelf: #db456f;
$enegryred: #f30e5c;
$enegryredsmooth: #f34949;
$verysmooth: #ff6473;
$baselimitless: #ec407a;

$green: #2ec7c9;
$smoothpurple: #b6a2de;
$blue: #5ab1ef;
$smoothorange: #ffb980;
$smoothred: #d87a80;
$marked: #8d98b3;
$yellow: #e5cf0d;
$greenyellow: #97b552;
$brown: #95706d;
$pinkpurple: #dc69aa;
$darkgreen: #07a2a4;
$darkpurpler: #9a7fd1;
$darkblue: #588dd5;
$orange: #f5994e;
$brownred: #c05050;
$darkmarked: #59678c;
$yellowdark: #c9ab00;
$greentree: #7eb00a;
$brownsolid: #6f5553;
$darkpurple: #c14089;

$red-pertamina: #da251c;
$blue-pertamina: #006cb8;
$green-pertamina: #acc42a;

[data-bgcolor="bg-basecolor"] {
    // background-color: $smoothred;
    background-color: $basecolor;
    // background-image: linear-gradient(-90deg, $verysmooth, $smoothred);
}

[data-bgcolor="bg-basecolor-white"] {
    background-color: $red-pertamina;
    color: $white;

    a {
        color: $white;
    }
}

[data-bgcolor="bg-emerald-white"] {
    background-color: $emerald;
    color: $white;

    a {
        color: $white;
    }
}

[data-bgcolor="bg-smoothred-white"] {
    background-color: $smoothred;
    color: $white;

    a {
        color: $white;
    }
}

[data-bgcolor="bg-yellow-white"] {
    background-color: $yellow;
    color: $white;

    a {
        color: $white;
    }
}

[data-bgcolor="bg-blue-white"] {
    background-color: $blue;
    color: $white;

    a {
        color: $white;
    }
}

[data-bgcolor="bg-green-white"] {
    background-color: $green;
    color: $white;

    a {
        color: $white;
    }
}

[data-bgcolor="bg-basecolorhover"] {
    background-color: $basecolorhover;
}

// [data-bgcolor="bg-basecolor"]{
//     background-color: $basecolor;
// }

[data-bgcolor="bg-basedarkcolor"] {
    background-color: $basedarkcolor;
}



[data-bgcolor="bg-transparent"] {
    background-color: $transparent;
}

[data-bgcolor="bg-turquoise"] {
    background-color: $turquoise;
}

[data-bgcolor="bg-greantea"] {
    background-color: $greantea;
}

[data-bgcolor="bg-emerald"] {
    background-color: $emerald;
}

[data-bgcolor="bg-nephritis"] {
    background-color: $nephritis;
}

[data-bgcolor="bg-lightgreenish"] {
    background-color: $lightgreenish;
}

[data-bgcolor="bg-lightgreenishdark"] {
    background-color: $lightgreenishdark;
}

[data-bgcolor="bg-peterriver"] {
    background-color: $peterriver;
}

[data-bgcolor="bg-belizehole"] {
    background-color: $belizehole;
}

[data-bgcolor="bg-amethyst"] {
    background-color: $amethyst;
}

[data-bgcolor="bg-wisteria"] {
    background-color: $wisteria;
}

[data-bgcolor="bg-wellasphalt"] {
    background-color: $wellasphalt;
}

[data-bgcolor="bg-mignightblue"] {
    background-color: $mignightblue;
}

[data-bgcolor="bg-sunflower"] {
    background-color: $sunflower;
}

[data-bgcolor="bg-carrot"] {
    background-color: $carrot;
}

[data-bgcolor="bg-alizarin"] {
    background-color: $alizarin;
}

[data-bgcolor="bg-clouds"] {
    background-color: $clouds;
}

[data-bgcolor="bg-concerete"] {
    background-color: $concerete;
}

[data-bgcolor="bg-orange"] {
    background-color: $orange;
}

[data-bgcolor="bg-pumpkin"] {
    background-color: $pumpkin;
}

[data-bgcolor="bg-pomegranate"] {
    background-color: $pomegranate;
}

[data-bgcolor="bg-silver"] {
    background-color: $silver;
}

[data-bgcolor="bg-asbestos"] {
    background-color: $asbestos;
}

[data-bgcolor="bg-light"] {
    background-color: $light;
}

[data-bgcolor="bg-backgroundlight"] {
    background-color: $backgroundlight;
}

[data-bgcolor="bg-white"] {
    background-color: $white;
}

[data-bgcolor="bg-smoothred"] {
    background-color: $smoothred;
}

[data-bgcolor="bg-yellow"] {
    background-color: $yellow;
}

[data-bgcolor="bg-blue"] {
    background-color: $blue;
}

[data-bgcolor="bg-green"] {
    background-color: $green;
}

[data-bgcolor="bg-white-text"] {
    background-color: $white;
    color: $basecolor;

    a {
        color: $basecolor;
    }
}


//TEXT
.electromagnetic-text {
    color: $electromagnetic !important;
}

.basecolor-text {
    color: $basecolor !important;
}

.belizehole-text {
    color: $belizehole !important;
}
//TEXT

/*BUTTON*/
.btn-red-pertamina {
    background: $red-pertamina;
    color: $white;
}

.btn-blue-pertamina {
    background: $blue-pertamina;
    color: $white;
}

.btn-green-pertamina {
    background: $green-pertamina;
    color: $white;
}

//Transition

@mixin transition($property) {
    -webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
}
