// style by imronmm007
//=======================================//
//START


@import 'color';
@import 'fonts';

$customborderradius: .34rem 0 0 .34rem;


body {
    font-family: Lato-Regular;
    /*background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}

.background-login {
    /* The image used */
    background-image: url("../../images/backgrounds/background.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
}

.without-padding {
    padding: 0;
}

.padding-2x{
    padding: 2rem;
}

//GENERAL
.bg-general{
    background-color: $backgroundlight;
}
.full-size-screen {
    height: 100vh;
    width: 100%;
}
//GENERAL

//HEADER
header{

    .header-bg{
        background-color: $wisteria;
    }
}
//HEADER

//STARTLOGIN
.carousel-inner {
    background: rgba(0,0,0,.6);
    border-radius: $customborderradius;

    .carousel-item.layout1 {
        height: 100vh;
        min-height: 70vh;
        max-height: 100vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .carousel-item.layout3 {
        height: 100%;
        min-height: 81vh;
        max-height: 100vh;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: $customborderradius;
    }
}

.background-image {
    top: -1rem;
    padding: 30rem 0;
    //background-image: url('../images/bg.jpg');
    background-image: url('../images/banner1__.jpg');
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    // height: 800px;
    left: -10rem;
    position: fixed;
    right: -10rem;
    z-index: 1;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-content{
    min-height: 60vh;
    height:80vh;
    //margin-top: 3rem;
}

.login-content-layout2 {
    min-height: 60vh;
    height: 100vh;
    //margin-top: 3rem;
}

.position-custom-login {
    position: absolute !important;
    margin: 0 auto;
}

.login-area {
    //background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    //box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    //top: 10px;
    left: 0;
    position: relative;
    //margin-left: 20px;
    //margin-right: 20px;
    right: 0;
    z-index: 2;
    padding: 0;
    //box-shadow: 0 0 30px $light;
    .carousel-caption {
        right: 0 !important;
        left: 0 !Important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        bottom: 0 !important;
        top: 0;

        .block-black-area {
            background: rgba(0,0,0,0.6);
            background-size: cover;
            display: block;
            width: 100%;
            //height: 100vh;
            height: 100%;
            padding: 10rem 5rem;

            h6 {
                //top: 5rem;
                height: auto;
                position: relative;
            }

            img {
                border-radius: 3px;
            }

            span {
                width: 100%;
                display: block;
                margin: 1rem 0;
            }
        }

        .block-black-area-2 {
            background: rgba(0,0,0,0.6);
            background-size: cover;
            display: block;
            width: 100%;
            //height: 100vh;
            height: 100%;
            padding: 2rem 3rem;
            border-radius: $customborderradius;


            h6 {
                //top: 5rem;
                height: auto;
                position: relative;
            }

            img {
                border-radius: 3px;
            }

            span {
                width: 100%;
                display: block;
                margin: 1rem 0;
            }
        }

        .block-area-2 {
            background: rgba(255,255,255,1);
            background-size: cover;
            display: block;
            width: 100%;
            //height: 100vh;
            height: 100%;
            padding: 3.5rem 1rem;

            h6, h4 {
                //top: 5rem;
                height: auto;
                position: relative;
                color: #000;
            }

            img {
                border-radius: 3px;
            }

            span {
                width: 100%;
                display: block;
                margin: 1rem 0;
                color: #000;
            }
        }
    }
}

.login-title{
    background:$white;
    font-family: Pacifico-Regular;
    font-size: 2rem;
    border-radius: 3px;
}

.custom-field{
    border-radius: 25%;
    font-family: Lato-Regular;

    i.fa{
        font-size: .9rem !important;
        top: .8rem;
        left: 1rem;
    }

    .custom-field-text{
        margin-left: 0 !important;
        padding-left: 2.5rem !important;
        width: -webkit-calc(100% - 2.5rem);
        border: 1px solid $clouds !important;
        border-radius: 50px !important;
    }
    .custom-field-text:focus{
        border-top: 1px solid $peterriver !important;
        border-left: 1px solid $peterriver !important;
        border-right: 1px solid $peterriver !important;
        border-bottom: .1px solid $peterriver !important;
    }

    label.font-weight-light.active{
        margin-left: 1.5rem !important;
        font-family: Lato-Regular;
    }
}

.login-button-submit{
    width: 100% !important;
    border-radius: 50px !important;
}
//ENDLOGIN


//FOOTER
footer{

    .footer-copyright{
        background-color: $transparent !important;
        color: $silver !important;
        bottom: 1.5rem;
        color: #fff;
        z-index: 1;
        display: block;
        position: relative;
        font-size: 12px !important;

        a{
            color: $peterriver !important;
        }
    }
}