﻿@import 'color';
@import 'fonts';

@media all and (max-width: 1024px) and (min-width: 320px) {
    //GENERAL
    .d-xs-none{
        display: none !important;
    }

    .col-xs {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    //GENERAL
}