@import 'color';
@import 'fonts';

//GENERAL
body {
    /*font-family: Lato-Regular;*/
    /*font-family: "Open Sans", Arial, sans-serif;*/
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 13px;
    /*line-height: 22px;*/
}
.h1, .h2, .h3, .h4, .h5, .h6, code, h1, h2, h3, h4, h5, h6, kbd, pre, samp {
    /*font-family: Quicksand,Georgia,'Times New Roman',Times,serif;*/
}

a {
    color: $blue-pertamina;
}

.border-radius-global{
    border-radius: 2rem;
}

.border-radius{
    border-radius: .2rem;
}

.padding-standart-global{
    padding: .3rem 1.5rem;
}

.padding-box {
    padding: 2rem 2.5rem;
}

.padding-box-zero {
    padding: 0;
    
    .card{
        overflow: hidden;
        border-radius: 0;
        border: none;
    }
}

.background-image-one{
    background-image: url(../../images/social-data.jpg);
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    z-index: 1;
    height: 300px;
    left: -1rem;
    right: -1rem;
    padding: 15rem;
    top: -1rem;
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.background-image-two{
    background-image: url(../../images/per.jpg);
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    z-index: 1;
    height: 300px;
    left: -1rem;
    right: -1rem;
    padding: 15rem;
    top: -1rem;
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.background-image-three{
    background-image: url(../../images/per2.jpg);
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    z-index: 1;
    height: 300px;
    left: -1rem;
    right: -1rem;
    padding: 15rem;
    top: -1rem;
    min-height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.no-padding{
    padding: 0;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.owl-nav {
    position: absolute;
    top: 2.9rem;
    width: 95%;
    left: 2rem;

    button.owl-prev {
        float: left;

        span {
            float: left;
            font-size: 3rem;
        }

        span.navigate {
            float: left;
            font-size: .8rem;
        }
    }

    button.owl-next {
        float: left;

        span {
            float: right;
            font-size: 3rem;
        }
    }
}

.chart {
    min-height: 300px;
    
    svg {
        margin: 0 auto;
    }
}

.table thead th {
    font-weight: bold !important;
}

.desc-dashboard{
    z-index: 1;
}

.legend-circle {
    border-radius: 2rem;
    width: 40px;
    height: 40px;
    display:block;
}
.legend-circle-risk {
    background: $white;
    border-radius: 2rem;
    width: 40px;
    height: 40px;
    border: 0.3rem solid $belizehole;
    display: block;
}
.legend-circle-expaired {
    background: $white;
    border-radius: 2rem;
    width: 40px;
    height: 40px;
    border: 0.5rem solid $basecolor;
    display: block;
}


.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.dropdown-menu.dashboard-search.show {
    display: block;
    width: 38rem;
    left: -33rem;
    position: absolute;
}
.dropdown-item{
    font-size:13px;
}
//GENERAL



//NAVBAR
.navbar {
    border-bottom: .7px solid $backgroundlight;
    box-shadow: 0 0 5px $lightshadow;

    .navbar-brand {
        padding: 0.1rem 0 !important;

        a {
            color: $smoothred;
            padding: 0rem 3rem;
            height: 100%;

            h6 {
                color: $smoothred;
            }

            img {
                height: 2.2rem !important;
                display: block;
                width: 100%;
                margin-top: .3rem;
            }
        }

    }
    
    .navbar-collapse {
        a.btn.dropdown-toggle.dropdown-navi {
            border-top: .1rem solid #ddd;
            border-bottom: .1rem solid #ddd;
        }
    }

    a.btn-logout:hover {
        background: $white !important;
        color: $smoothred !important;
        border: .1rem solid $smoothred;
    }
}
//NAVBAR

//PAGE CONTENT
.page-content {

    .sidebar-main {
    }

    .sidebar-secondary {
    }

    .content-wrapper {

        .navigation-menu {

            .navigation-menu-tab {

                button.menu-second-inhead {
                    width: 100%;
                    border-radius: 0;
                    padding: .8rem 0;
                    color: $white;
                    border-bottom: 1px solid $basecolorhover;
                }

                button.menu-second-inhead-two {
                    width: 100%;
                    border-radius: 0;
                    padding: .8rem 0;
                    color: $white;
                    font-size: 1rem;
                    /*border-bottom: 1px solid $white;*/
                }

                a.menu-second-inhead-two {
                    width: 100%;
                    border-radius: 0;
                    padding: .4rem 0;
                    color: $white;
                    font-size: 1rem;
                    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                    /*border-bottom: 1px solid $white;*/
                    i {
                        display: block;
                    }

                    span {
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 13px;
                    }
                }
            }
        }

        .result-collapse {

            .collapse {
                padding: .2rem 0rem;
                width: 100%;

                a.result-menu {
                    padding: .3rem 0;

                    i {
                        width: 100%;
                        font-size: 1.3rem;
                        margin-bottom: .3rem;
                    }

                    span {
                        width: 100%;
                        display: block;
                        font-size: .7rem;
                        text-transform: uppercase;
                    }
                }

                a.result-menu:after {
                    width: .7px;
                    height: 2rem;
                    background: #ca3d61;
                    content: '';
                    display: block;
                    position: absolute;
                    top: .5rem;
                    left: 0;
                    box-shadow: 0 0 10px #941436;
                }
            }

            .collapse.show {
                border-top: .01rem solid #ff1f5a;
            }
        }

        .main-dashboard {



            h2.title-main-dashboard {
                font-weight: 500;
                color: $mignightblue;
                text-align: center;
            }

            i {
                font-size: 3rem;
                color: #fff;
                width: 5rem;
                background: #fa396c;
                padding: 1rem 0;
                border-radius: 3rem;
                margin: 0 auto;
            }

            h5 {
                color: $electromagnetic;
                text-transform: uppercase;
                font-weight: 500;
            }

            h6 {
            }

            a.goto-link {
                padding: .3rem .5rem;
                border: .1rem solid $smoothred;
                width: 40%;
                margin: 0 auto;
                font-weight: 500;
            }

            a.goto-link:hover {
                background-color: $smoothred;
                color: $white;
            }
        }

        .main-dashboard-two {
            //TAB
            .nav-tabs-solid {

                .nav-link.active {
                    color: #fff;
                    background-color: $basecolor;
                }

                .nav-link:hover {
                    color: $basecolor;
                }
            }

            a.nav-link.active i {
                color: #fff;
            }

            a.nav-link i {
                color: #000;
            }

            a.nav-link:hover i {
                color: $basecolor;
            }
            //TAB
            .box-circle {
                padding: 1rem;
                border: 1px solid $white;

                span.circle {
                    width: 5rem;
                    height: 5rem;
                    display: block;
                    margin: 0 auto;
                    border-radius: 3rem;
                }

                span.circle-border {
                    width: 5rem;
                    height: 5rem;
                    border: .3rem solid #000;
                    display: block;
                    margin: 0 auto;
                    border-radius: 3rem;
                }


                span.circle-border-blue {
                    width: 5rem;
                    height: 5rem;
                    border: .3rem solid $belizehole;
                    display: block;
                    margin: 0 auto;
                    border-radius: 3rem;
                }

                span.circle-border-red {
                    width: 5rem;
                    height: 5rem;
                    border: .3rem solid $basecolor;
                    display: block;
                    margin: 0 auto;
                    border-radius: 3rem;
                }

                span.circle-border-red-bold {
                    width: 5rem;
                    height: 5rem;
                    border: 1rem solid $basecolor;
                    display: block;
                    margin: 0 auto;
                    border-radius: 3rem;
                }

                span.circle-border-white {
                    width: 5rem;
                    height: 5rem;
                    border: .3rem solid $white;
                    display: block;
                    margin: 0 auto;
                    border-radius: 3rem;
                }
            }


            h2.title-main-dashboard {
                font-weight: 500;
                color: $mignightblue;
                text-align: center;
                z-index: 1;
            }

            i {
                /*font-size: 1rem;*/
                border-radius: 3rem;
                margin: 0 auto;
                z-index: 1;
                /*color: $white;*/
            }

            i.main-dashboard-icon {
                font-size: 3rem;
                color: #fff;
                width: 5rem;
                background: #fa396c;
                padding: 1rem 0;
                border-radius: 3rem;
                margin: 0 auto;
                z-index: 1;
                color: $white;
            }

            i.navigate {
                font-size: 1rem;
                color: #fff;
                width: 1rem;
                background: #dc143c;
                padding: 0rem 0;
                border-radius: 3rem;
                margin: 0 auto;
                z-index: 1;
                /* color: #dc143c; */
            }

            h3 {
                color: $electromagnetic;
                text-transform: uppercase;
                font-weight: 600;
                z-index: 1;
                /*color: $white;*/
            }

            h5 {
                color: $electromagnetic;
                text-transform: uppercase;
                font-weight: 500;
                z-index: 1;
                width: 100%;
            }

            h6 {
                color: $electromagnetic;
                width: 100%;
            }

            h6.title-main-dashboard {
                margin: 0 auto;
                color: $peterriver !important;
                font-weight: 600;
            }

            a.goto-link {
                padding: .3rem .5rem;
                border: .1rem solid $smoothred;
                width: 40%;
                margin: 0 auto;
                z-index: 1;
                font-weight: 500;
                color: $smoothred;
                background-color: $white;
            }

            a.goto-link:hover {
                z-index: 1;
                color: $white;
                background-color: $smoothred
            }
        }
    }
}
//PAGE CONTENT
