@import 'color';
@import 'fonts';

.h1, .h2, .h3, .h4, .h5, .h6, code, h1, h2, h3, h4, h5, h6, kbd, pre, samp {
    font-family: Quicksand,Georgia,'Times New Roman',Times,serif;
}

.bg-pan-left {
    -webkit-animation: bg-pan-left 8s infinite both;
    animation: bg-pan-left 8s infinite both;
}

.card {
    width: 100%;
}

.p-custom {
    padding: .6rem 1.25rem;
}

.pm-custom {
    padding: .5rem 1.25rem !important;
    margin-top: 0rem !important;
}

.scroll-hoz {
    max-width: 100%;
    overflow-x: scroll;
}

.no-border-radius {
    border-radius: 0;
}

.br {
    border-radius: .1rem;
}

.br-2 {
    border-radius: .2rem;
}

.br-3 {
    border-radius: .3rem;
}

.br-4 {
    border-radius: .4rem;
}

.br-5 {
    border-radius: .5rem;
}

table thead {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.control-tab-scroll {
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 0 0 10px 0;
}

.nav-link-pnd {
    display: block;
    padding: .625rem 2rem;
}

// scroll custom
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #263238;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #263238;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #263238;
}
// scroll custom

// login
.mx-size {
    max-height: 35rem;
    height: 35rem;
}

.owl-item.active {
    padding: 1rem 1rem;
}

.img-custom-size {
    max-width: 40%;
}
// login

// dashboard
.sidebar-light .nav-sidebar .nav-link:not(.disabled).btn-danger-custom {
    background: #f44336;
    color: #fff
}

.sidebar-light .nav-sidebar .nav-link:not(.disabled).btn-danger-custom:hover {
    color: #fff;
    background-color: #ca4d44;
}
// dashboard

