﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5>Welcome</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="alpha-slate p-1 mb-2"></div>
            </div>
            <div class="col-4">
                <div class="alpha-danger p-2 mb-2"></div>
            </div>
            <div class="col-8">
                <div class="alpha-teal p-2 mb-2"></div>
            </div>
            <div class="col-8">
                <div class="alpha-blue p-1 mb-2"></div>
            </div>
            <div class="col-4">
                <div class="alpha-brown p-1 mb-2"></div>
            </div>
            <div class="col-3">
                <div class="alpha-purple p-2 mb-2"></div>
            </div>
            <div class="col-6">
                <div class="alpha-pink p-2 mb-2"></div>
            </div>
            <div class="col-3">
                <div class="alpha-success p-2 mb-2"></div>
            </div>
            <div class="col-6">
                <div class="alpha-green p-1 mb-2"></div>
            </div>
            <div class="col-6">
                <div class="alpha-primary p-1 mb-2"></div>
            </div>
            <div class="col-4">
                <div class="alpha-info p-2 mb-2"></div>
            </div>
            <div class="col-8">
                <div class="alpha-orange p-2 mb-2"></div>
            </div>
            <div class="col-8">
                <div class="alpha-brown p-1 mb-2"></div>
            </div>
            <div class="col-4">
                <div class="alpha-primary p-1 mb-2"></div>
            </div>
            <div class="col-7">
                <div class="alpha-slate p-2 mb-2"></div>
            </div>
            <div class="col-5">
                <div class="alpha-warning p-2 mb-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="alpha-slate p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-danger p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-teal p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-blue p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-brown p-1 mb-2"></div>
                    </div>
                    <div class="col-3">
                        <div class="alpha-purple p-2 mb-2"></div>
                    </div>
                    <div class="col-6">
                        <div class="alpha-pink p-2 mb-2"></div>
                    </div>
                    <div class="col-3">
                        <div class="alpha-success p-2 mb-2"></div>
                    </div>
                    <div class="col-6">
                        <div class="alpha-green p-1 mb-2"></div>
                    </div>
                    <div class="col-6">
                        <div class="alpha-primary p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-info p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-orange p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-brown p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-primary p-1 mb-2"></div>
                    </div>
                    <div class="col-7">
                        <div class="alpha-slate p-2 mb-2"></div>
                    </div>
                    <div class="col-5">
                        <div class="alpha-warning p-2 mb-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="alpha-slate p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-danger p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-teal p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-blue p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-brown p-1 mb-2"></div>
                    </div>
                    <div class="col-3">
                        <div class="alpha-purple p-2 mb-2"></div>
                    </div>
                    <div class="col-6">
                        <div class="alpha-pink p-2 mb-2"></div>
                    </div>
                    <div class="col-3">
                        <div class="alpha-success p-2 mb-2"></div>
                    </div>
                    <div class="col-6">
                        <div class="alpha-green p-1 mb-2"></div>
                    </div>
                    <div class="col-6">
                        <div class="alpha-primary p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-info p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-orange p-2 mb-2"></div>
                    </div>
                    <div class="col-8">
                        <div class="alpha-brown p-1 mb-2"></div>
                    </div>
                    <div class="col-4">
                        <div class="alpha-primary p-1 mb-2"></div>
                    </div>
                    <div class="col-7">
                        <div class="alpha-slate p-2 mb-2"></div>
                    </div>
                    <div class="col-5">
                        <div class="alpha-warning p-2 mb-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>

