﻿@{
    var temp = (Dictionary<string, string>)TempData["resultTrans"];

    if (temp != null)
    {
        foreach (var item in temp)
        {
            switch (item.Key)
            {
                case "1":
                    <input type="hidden" value='@item.Value' id="statusTrans" />
                    break;

                case "2":
                    <input type="hidden" value='@item.Value' id="typeTrans" />
                    break;

                case "3":
                    <input type="hidden" value='@item.Value' id="infoTrans" />
                    break;

            }
        }
    }
}