﻿<!-- Disabled backdrop -->

<div id="modal_backdrop" class="modal fade" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Deleting a Notification</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <h6 class="font-weight-semibold">Delete data : <label class="col-form-label" id="lblpkfield"></label> </h6>
                <p class="font-weight-bold">Carefully, you have selected to delete this data.</p>
                <p>If this was the action that you wanted to do, please confirm your choise, or cancel and return the page.</p>
                <hr>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button" id="delconfirm" class="btn bg-danger">Confirm</button>
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" id="mycancel" class="btn btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /disabled backdrop -->
