﻿<!-- Information Inputs-->
<div id="source-inf" title="Description">
    <p>
        <b>Source :</b> The individual, company, state, or government agency designated as the source of information for this row.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 40 chars.
    </p>
</div>
<div id="abbr-inf" title="Description">
    <p>
        <b>Abbreviation :</b>  Abbreviation used for reference type or code.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 12 chars.
    </p>
</div>
<div id="short-inf" title="Description">
    <p>
        <b>Short Name :</b>  Common short name given to reference type or code.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 30 chars.
    </p>
</div>
<div id="long-inf" title="Description">
    <p>
        <b>Long Name :</b>  Common long name given to reference type or code.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 255 chars.
    </p>
</div>
<div id="remark-inf" title="Description">
    <p>
        <b>Remark :</b>   Narrative remarks about this row of data.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 2000 chars.
    </p>
</div>
@*PROJECT TYPE*@
<div id="projtype-inf" title="Description">
    <p>
        <b>Project Type :</b>  The type of project, such as seismic, geological, exploitation etc.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 40 chars.
    </p>
</div>
@*PROJECT PLAN*@
<div id="projplan-inf" title="Description">
    <p>
        <b>Project Plan ID :</b>  Unique Identifier for the project plan.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 40 chars.
    </p>
</div>
<div id="projplanname-inf" title="Description">
    <p>
        <b>Plan Name :</b>  The name assigned to the project plan.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 255 chars.
    </p>
</div>
<div id="projdesc-inf" title="Description">
    <p>
        <b>Descriptions :</b>   Description of the project.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 240 chars.
    </p>
</div>
@*PROJECT PLAN STEP*@
<div id="planstepID-inf" title="Description">
    <p>
        <b>Allowed Step ID :</b>   Unique identifier for a step that is allowed to be included in the project.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 40 chars.
    </p>
</div>
<div id="planstepName-inf" title="Description">
    <p>
        <b>Step Name :</b> The name given to this step.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 255 chars.
    </p>
</div>
<div id="planstepRule-inf" title="Description">
    <p>
        <b>Step Rule :</b>  a number indicating the order in which steps are to be
        completed. Concurrent steps may be assigned the same number.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 240 chars.
    </p>
</div>
<div id="planstepSeq-inf" title="Description">
    <p>
        <b>Step Sequence Number :</b>  a number indicating the order in which steps are to be
        completed. Concurrent steps may be assigned the same number.
    </p>
    <p>
        <b>Data Type :</b> Number.
    </p>
    <p>
        <b>Max Character(s) :</b> 8 chars.
    </p>
</div>
@*PROJECT STATUS TYPE*@
<div id="stattype-inf" title="Description">
    <p>
        <b>Step Type :</b>   PROJECT or PROJECT STEP STATUS TYPE: The type of status, or perspective
        from which the status is observed, such as financial, operational, legal etc.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 40 chars.
    </p>
</div>
@*PROJECT STATUS*@
<div id="projstatus-inf" title="Description">
    <p>
        <b>Status :</b>   PROJECT or PROJECT STEP STATUS: the status of a project or a step in a project.
        May include underway, on hold, completed, cancelled.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 40 chars.
    </p>
</div>
@*PROJECT CONDITION*@
<div id="condtype-inf" title="Description">
    <p>
        <b>Status :</b>   PROJECT STEP CONDITION: condition(s) that must exist before the project step
        can be started. May be an external condition (a facility to be shut down) or another
        step in the project that must be completed.
    </p>
    <p>
        <b>Data Type :</b> Varchar2.
    </p>
    <p>
        <b>Max Character(s) :</b> 40 chars.
    </p>
</div>
<!-- /Information Inputs -->