﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project Management</title>
    <!-- Global stylesheets -->
    <link href="~/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <link rel="stylesheet" href="~/css/ui.fancytree.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <!--custom-->
    <link rel="stylesheet" href="~/css/pnd/mobile.css" />
    <link rel="stylesheet" href="~/css/pnd/new-uniform.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/xzoom.css" />

    <!-- Core JS files -->
    <script src="~/js/main/jquery.min.js"></script>
    <script src="~/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/js/plugins/extensions/jquery_ui/widgets.min.js"></script>
    <script src="~/js/plugins/extensions/jquery_ui/effects.min.js"></script>
    <script src="~/js/plugins/extensions/mousewheel.min.js"></script>
    <script src="~/js/plugins/extensions/jquery_ui/globalize/globalize.js"></script>
    <script src="~/js/plugins/extensions/jquery_ui/globalize/cultures/globalize.culture.de-DE.js"></script>
    <script src="~/js/plugins/extensions/jquery_ui/globalize/cultures/globalize.culture.ja-JP.js"></script>
    <script src="~/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/js/plugins/notifications/bootbox.min.js"></script>
    <script src="~/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/js/datatables_basic.js"></script>
    @*<script src="~/js/jqueryui_components.js"></script>*@
    <script src="~/scripts/Internalscript.js"></script>
    <!-- /theme JS files -->
    <!--Core-->
    <script src="~/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/js/plugins/ui/prism.min.js"></script>
    <script src="~/js/demo_pages/sidebar_secondary.js"></script>
    <script src="~/js/jquery.fancytree-all-deps.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/waves.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/xzoom.min.js"></script>

    <!--Datatable-->
    <script src="~/js/demo_pages/datatables_advanced.js"></script>
    <!--Dimple-->
    <script src="~/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/js/plugins/visualization/dimple/dimple.min.js"></script>
    <!--Echart-->
    <script src="~/js/plugins/visualization/echarts/echarts.min.js"></script>
    <!--c3-->
    <script src="~/js/plugins/visualization/c3/c3.min.js"></script>
    <script src="~/js/plugins/notifications/pnotify.min.js"></script>
    <script src="~/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="~/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/js/plugins/forms/selects/bootstrap_multiselect.js"></script>

    <!--Datetime-->
    <script src="~/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/js/plugins/pickers/anytime.min.js"></script>
    <script src="~/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="~/js/plugins/pickers/pickadate/legacy.js"></script>
    <script src="~/js/plugins/notifications/jgrowl.min.js"></script>

    <script src="~/js/BaseLimitless.js"></script>
    <script src="~/js/SweetAlert.js"></script>
    <script src="~/js/pnotify.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/pnd.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body class="sidebar-xs sidebar-secondary-hidden sidebar-component-hidden">

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md" data-bgcolor="bg-white-text">
        <div class="navbar-brand text-center">
            <a href="index.html" class="d-inline-block d-xs-none d-sm-none d-md-block">
                <img src="~/images/logo-pertamina.png" class="logo-brand" alt="">
                <!-- <a href="index.html" class="d-inline-block"> -->
                @*<h6 class="font-weight-semibold mb-0 text-center text-white">BRAND <i class="icon-googleplus5"></i></h6>*@
                <!-- </a> -->
            </a>
        </div>

        <div class="col-12 d-md-none">
            <div class="row">
                <div class="col-xs col-sm">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-tree5"></i>
                    </button>
                    <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                        <i class="icon-paragraph-justify3"></i>
                    </button>
                    <button class="navbar-toggler sidebar-mobile-secondary-toggle" type="button">
                        <i class="icon-more"></i>
                    </button>
                </div>
                <div class="col-xs col-sm">
                    <a href="index.html" class="d-inline-block">
                        <img src="~/images/logo-pertamina.png" class="logo-brand img-fluid" alt="">
                    </a>
                </div>
                <div class="col-xs col-sm text-right">
                    <a href="#" class="btn border-radius-global text-white padding-standart-global btn-logout navbar-toggler sidebar-mobile-secondary-toggle mt-2" data-bgcolor="bg-basecolor">
                        <i class="fas fa-power-off"></i>
                    </a>
                </div>
            </div>
        </div>

        <div id="navbar-mobile" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>

                <li class="nav-item">
                    @*<a href="#" class="navbar-nav-link sidebar-control sidebar-secondary-toggle d-none d-md-block" data-popup="tooltip-demo" title="Hide secondary" data-placement="bottom" data-container="body" data-trigger="hover">
            <i class="icon-transmission"></i>
        </a>*@
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-component-toggle d-none d-md-block" data-popup="tooltip-demo" title="Hide content sidebar" data-placement="bottom" data-container="body" data-trigger="hover">
                        <i class="icon-transmission"></i>
                    </a>
                </li>
            </ul>

            <div class="col-md-8">
                <div class="input-group">
                    <div class="form-group-feedback">
                        <input type="text" class="form-control form-control-lg" value="" placeholder="Search">
                    </div>
                    <div class="btn-group justify-content-center">
                        <a href="#" class="btn dropdown-toggle dropdown-navi font-weight-bold"></a>

                        <div class="dropdown-menu dashboard-search">
                            <div class="form-group m-2">
                                <label>Region</label>
                                <select data-placeholder="Select a State..." class="form-control select-search" data-fouc>
                                    <option></option>
                                    <optgroup label="">
                                        <option value="PIEP">PIEP</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="AG">Algeria</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group m-2">
                                <label>Area</label>
                                <select data-placeholder="Select a Unit..." class="form-control select-search" data-fouc>
                                    <option></option>
                                    <optgroup label="">
                                        <option value="AZ">PIEP-MLN</option>
                                        <option value="CO">Indonesia-MLN</option>
                                        <option value="ID">Malayasia-MLN</option>
                                        <option value="WY">Algeria-MLN</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group m-2">
                                <label>Well</label>
                                <select data-placeholder="Select a Well..." class="form-control select-search" data-fouc>
                                    <option></option>
                                    <optgroup label="Mountain Time Zone">
                                        <option value="AZ">All Well</option>
                                        <option value="CO">Indonesia Well</option>
                                        <option value="ID">Malaysia Well</option>
                                        <option value="WY">Algeria Well</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg" data-bgcolor="bg-basecolor-white"><i class="icon-search4 text-white"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-md text-right">
                <ul class="navbar-nav float-right text-right">
                    <li class="nav-item">
                        <a href="#" class="btn border-radius-global text-white padding-standart-global btn-logout navbar-nav-link sidebar-control sidebar-secondary-toggle d-none d-md-block" data-bgcolor="bg-basecolor">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        @*<div id="navbar-mobile" class="float-right pt-2">
                <a href="#" class="btn border-radius-global text-white padding-standart-global btn-logout" data-bgcolor="bg-basecolor">
                    <i class="fas fa-power-off"></i>
                </a>
            </div>*@
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Menu sizing -->
            <div class="navbar navbar-expand-xl navbar-dark  navbar-component mb-1" data-bgcolor="bg-basecolor-white">
                <div class="d-xl-none">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mega-menu-size">
                        <i class="icon-menu"></i>
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="mega-menu-size">
                    <ul class="navbar-nav">
                        <li class="nav-item mega-menu-full">
                            <a href="#" class="navbar-nav-link dropdown-toggle text-uppercase" data-toggle="dropdown">
                                <i class="fas fa-air-freshener"></i>
                                Dashboard
                            </a>
                            <div class="dropdown-menu dropdown-content">
                                <div class="dropdown-content-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="p-1 mb-2">
                                                <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Form components</div>
                                                <div class="dropdown-divider mb-2"></div>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p-1 mb-2">
                                                <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Form components</div>
                                                <div class="dropdown-divider mb-2"></div>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p-1 mb-2">
                                                <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Form components</div>
                                                <div class="dropdown-divider mb-2"></div>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="p-1 mb-2">
                                                <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Form components</div>
                                                <div class="dropdown-divider mb-2"></div>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                                <a href="form_inputs.html" class="dropdown-item rounded electromagnetic-text">Basic inputs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mega-menu-full">
                            <a href="#" class="navbar-nav-link dropdown-toggle text-uppercase" data-toggle="dropdown">
                                <i class="fas fa-air-freshener"></i>
                                Plan
                            </a>
                            <div class="dropdown-menu dropdown-content">
                                <div class="dropdown-content-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="p-1 mb-2">
                                                <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">List components</div>
                                                <div class="dropdown-divider mb-2"></div>
                                                @Html.ActionLink("Project Plans", "Index", "ProjectPlans", null, new { @class = "dropdown-item rounded electromagnetic-text" })
                                                @Html.ActionLink("Project Plan Steps", "Index", "ProjectPlanSteps", null, new { @class = "dropdown-item rounded electromagnetic-text ml-3" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mega-menu-full">
                            <a href="#" class="navbar-nav-link dropdown-toggle text-uppercase" data-toggle="dropdown">
                                <i class="fas fa-air-freshener"></i>
                                Projects
                            </a>
                            <div class="dropdown-menu dropdown-content">
                                <div class="dropdown-content-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="p-1 mb-2">
                                                <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">List components</div>
                                                <div class="dropdown-divider mb-2"></div>
                                                @Html.ActionLink("Project", "Index", "Project", null, new { @class = "dropdown-item rounded electromagnetic-text" })
                                                @Html.ActionLink("Steps", "Index", "ProjectPlanSteps", null, new { @class = "dropdown-item rounded electromagnetic-text ml-3" })
                                                @Html.ActionLink("Status", "Index", "ProjectStatus", null, new { @class = "dropdown-item rounded electromagnetic-text ml-3" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mega-menu-full">
                            <a href="#" class="navbar-nav-link dropdown-toggle text-uppercase" data-toggle="dropdown">
                                <i class="fas fa-air-freshener"></i>
                                Reference
                            </a>
                            <div class="dropdown-menu dropdown-content">
                                <div class="dropdown-content-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="p-1 mb-2">
                                                <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">List components</div>
                                                <div class="dropdown-divider mb-2"></div>
                                                @Html.ActionLink("Source", "Index", "sources", null, new { @class = "dropdown-item rounded electromagnetic-text" })
                                                @Html.ActionLink("Project Status", "Index", "ProjectStatus", null, new { @class = "dropdown-item rounded electromagnetic-text" })
                                                @Html.ActionLink("Project Status Type", "Index", "ProjectStatusTypes", null, new { @class = "dropdown-item rounded electromagnetic-text" })
                                                @Html.ActionLink("Project Type", "Index", "ProjectTypes", null, new { @class = "dropdown-item rounded electromagnetic-text" })
                                                @Html.ActionLink("Project Condition", "Index", "ProjectConditions", null, new { @class = "dropdown-item rounded electromagnetic-text" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /menu sizing -->

            <!-- breadcrumb -->
            <div class="page-header page-header-light">
                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                    <div class="d-flex pl-3">
                        <div class="breadcrumb">
                            <span class="breadcrumb-item active"><i class="icon-home2 mr-2"></i> Dashboard</span>
                        </div>

                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>
            </div>
            <!-- /breadcrumb -->
            <!-- Content area -->
            @*<div class="content">
            <div class="row main-dashboard-two">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>*@
            <!-- /content area -->
            <!-- Content area -->
            <div class="content">
                <!-- Inner container -->
                <div class="d-md-flex align-items-md-start main-dashboard-two">

                    <!-- Left sidebar component -->
                    <div class="sidebar sidebar-light sidebar-component sidebar-component-left sidebar-expand-md">

                        <!-- Sidebar content -->
                        <div class="sidebar-content">

                            @*<div class="sidebar-content">*@

                            <!-- Sidebar search -->
                            <div class="card">
                                <div class="card-body">
                                    <form action="#">
                                        <div class="form-group-feedback form-group-feedback-right">
                                            <input type="search" id="secondaryMenuSearch" class="form-control" placeholder="Search">
                                            <div class="form-control-feedback">
                                                <i class="icon-search4 font-size-base text-muted"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /sidebar search -->
                            <!-- Main navigation -->
                            <div class="card card-sidebar-mobile">
                                <ul id="mainMenuSecondary" class="nav nav-sidebar" data-nav-type="accordion">

                                    <!-- Main Menu -->
                                    <li class="nav-item-header pm-custom"><div class="text-uppercase font-size-xs line-height-xs">Main Menu</div> <i class="icon-menu" title="Layout options"></i></li>
                                    <div id="tree-menus">
                                        <ul>
                                            <li><a href="http://www.easyjstree.com" target="_blank">Dashboard</a></li>
                                            <li class="isFolder isExpanded" title="Bookmarks">
                                                Home
                                                <ul>
                                                    <li class="isFolder" title="Bookmarks">
                                                        E & P Data
                                                        <ul>
                                                            <li class="isFolder" title="Bookmarks">
                                                                Operation Area
                                                                <ul>
                                                                    <li class="isFolder" title="Bookmarks">
                                                                        Field Patra Nusa Data
                                                                        <ul>
                                                                            <li class="isFolder" title="Bookmarks">
                                                                                Data
                                                                                <ul>
                                                                                    <li class="isFolder" title="Bookmarks">
                                                                                        Injection Well
                                                                                        <ul>
                                                                                            <li><a href="http://www.google.com" target="_blank">Data001</a></li>
                                                                                            <li><a href="http://www.yahoo.com" target="_blank">Data002</a></li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                                </ul>
                                                                            </li>
                                                                            <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Surface Facility
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Seismic Line
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Miscellaneous
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="isFolder" title="Bookmarks">
                                                GIS
                                                <ul>
                                                    <li class="isFolder" title="Bookmarks">
                                                        E & P Data
                                                        <ul>
                                                            <li class="isFolder" title="Bookmarks">
                                                                Operation Area
                                                                <ul>
                                                                    <li class="isFolder" title="Bookmarks">
                                                                        Field Patra Nusa Data
                                                                        <ul>
                                                                            <li class="isFolder" title="Bookmarks">
                                                                                Data
                                                                                <ul>
                                                                                    <li class="isFolder" title="Bookmarks">
                                                                                        Injection Well
                                                                                        <ul>
                                                                                            <li><a href="http://www.google.com" target="_blank">Data001</a></li>
                                                                                            <li><a href="http://www.yahoo.com" target="_blank">Data002</a></li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                                </ul>
                                                                            </li>
                                                                            <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Surface Facility
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Seismic Line
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Miscellaneous
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="isFolder" title="Bookmarks">
                                                Operation
                                                <ul>
                                                    <li class="isFolder" title="Bookmarks">
                                                        E & P Data
                                                        <ul>
                                                            <li class="isFolder" title="Bookmarks">
                                                                Operation Area
                                                                <ul>
                                                                    <li class="isFolder" title="Bookmarks">
                                                                        Field Patra Nusa Data
                                                                        <ul>
                                                                            <li class="isFolder" title="Bookmarks">
                                                                                Data
                                                                                <ul>
                                                                                    <li class="isFolder" title="Bookmarks">
                                                                                        Injection Well
                                                                                        <ul>
                                                                                            <li><a href="http://www.google.com" target="_blank">Data001</a></li>
                                                                                            <li><a href="http://www.yahoo.com" target="_blank">Data002</a></li>
                                                                                        </ul>
                                                                                    </li>
                                                                                    <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                                </ul>
                                                                            </li>
                                                                            <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                        </ul>
                                                                    </li>
                                                                    <li><a href="http://www.yahoo.com" target="_blank">Go to Yahoo.com</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Surface Facility
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Seismic Line
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="isFolder">
                                                                Miscellaneous
                                                                <ul>
                                                                    <li><a href="#">Data003</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /layout -->
                                </ul>
                            </div>
                            <!-- /main navigation -->
                            @*</div>*@
                            <!-- /sidebar content -->

                        </div>
                        <!-- /sidebar content -->

                    </div>
                    <!-- /left sidebar component -->
                    <!-- Right content -->
                    <div class="container-fluid">
                        <!-- Sidebars overview -->
                        @RenderBody()
                        <!-- /sidebars overview -->

                    </div>
                    <!-- /right content -->

                </div>
                <!-- /inner container -->

            </div>
            <!-- /content area -->
            <!-- /main content -->
        </div>
    </div>
    <!-- /Page content -->
    <!-- Footer -->
    <footer>
        <div class="navbar navbar-expand-lg" data-bgcolor="bg-basecolor">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle text-white" data-toggle="collapse" data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>

            <div class="navbar-collapse collapse text-right" id="navbar-footer">
                <span class="navbar-text  text-white">
                    &copy; @DateTime.Now.Year <a href="#" class=" text-white">PERTAMINA EP</a> by <a href="#" class=" text-white" target="_blank">PND</a>
                </span>
            </div>
        </div>
    </footer>

    <!-- /footer -->
</body>
</html>
