﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PIEP</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <!--<link rel="stylesheet" href="~/css/site.css" />-->
        <!--Icon-->
        <link rel="stylesheet" href="~/css/plugins/icons/icomoon/styles.css" asp-append-version="true" />
        <!--Login-->
        <link rel="stylesheet" href="~/css/pnd/login-style.css" asp-append-version="true" />

        <!--Layout-->
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/bootstrap_limitless.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/layout.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/components.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/colors.min.css" asp-append-version="true" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!--<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />-->

    </environment>
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@
    <div class="background-login"></div>
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                @RenderBody()
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <!--Core-->
        <script src="~/js/main/bootstrap.bundle.min.js"></script>
        <script src="~/js/plugins/loaders/blockui.min.js"></script>
        <script src="~/js/plugins/ui/prism.min.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/plugins/ui/ripple.min.js"></script>

        <!--login-->
        <script src="~/js/login.js"></script>
        <script src="~/js/plugins/forms/styling/uniform.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
